force-app/main/default/flows/Account_RT_AS_Update_MEC_on_Membership_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Member_Engagement_Rep</name>
        <label>Assign Member Engagement Rep</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference
      >Loop_over_Membership_Contracts.NAV_Member_Engagement_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.NAV_Member_Engagement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_to_Collection</name>
        <label>Assign Record to Collection</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference
      >var_Membership_Contract_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_over_Membership_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Membership_Contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Membership_Contracts_Exist</name>
        <label>Membership Contracts Exist?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Membership Contracts</defaultConnectorLabel>
        <rules>
            <name>Yes_Membership_Contracts_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Membership_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Loop_over_Membership_Contracts</targetReference>
            </connector>
            <label>Yes, Membership Contracts Exist</label>
        </rules>
    </decisions>
    <description
  >When the Membership Engagement Rep is changed, update any active Membership Contracts with the new Member Engagement Rep.</description>
    <environments>Default</environments>
    <interviewLabel
  >Account - RT AS - Send MEC Change to Membership Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - RT AS - Update MER on Membership Contracts</label>
    <loops>
        <name>Loop_over_Membership_Contracts</name>
        <label>Loop over Membership Contracts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Membership_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Member_Engagement_Rep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Membership_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Membership_Contracts</name>
        <label>Get Membership Contracts</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Contracts_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121O000001CFnyQAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Contracts</name>
        <label>Update Membership Contracts</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference
    >var_Membership_Contract_Record_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NAV_Member_Engagement__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Member_Engagement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Membership_Contract_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership_Contract__c</objectType>
    </variables>
</Flow>
