force-app/main/default/flows/Account_RT_AS_Child_Account_Tagging_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Child_Account_List_Name_Changed</name>
        <label>Assign Child Account List - Name Changed</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Account_Loop_Name_Changed.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop_Name_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Account_List_New_Parent</name>
        <label>Assign Child Account List - New Parent</label>
        <locationX>402</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Child_Accounts_Loop_New_Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Accounts_Loop_New_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Account_List_Prior_Parent</name>
        <label>Assign Child Account List - Prior Parent</label>
        <locationX>490</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Child_Accounts_Loop_Prior_Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Accounts_Loop_Prior_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count_of_Child_Accounts_Prior_Parent</name>
        <label>Assign count of Child Accounts</label>
        <locationX>226</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>var_Count_of_Child_Accounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >Get_Child_Accounts_of_Prior_Parent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Does_Child_Account_Exist_for_Prior_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Child_Account_Variable_Name_Changed</name>
        <label>Clear Child Account Variable - Name Changed</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Parent_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Child_Account_Variable_Prior_Parent</name>
        <label>Clear Child Account Variable - Prior Parent</label>
        <locationX>402</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>var_Child_Account_List</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>New_Parent_Account_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Account_Name_Change</name>
        <label>Did Account Name Change</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Prior_Parent_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >Account Name Did Not Change</defaultConnectorLabel>
        <rules>
            <name>Account_Name_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Get_Child_Accounts_Name_Changed</targetReference>
            </connector>
            <label>Account Name Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_Account_Exist_for_Prior_Parent</name>
        <label>Does Child Account Exist for Prior Parent</label>
        <locationX>226</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Child_Accounts_Loop_Prior_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still a Parent Account</defaultConnectorLabel>
        <rules>
            <name>No_Child_Accounts_Prior_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Count_of_Child_Accounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_Prior_Parent_No_longer_a_parent</targetReference>
            </connector>
            <label>No Child Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Parent_Account_Status</name>
        <label>New Parent Account Status</label>
        <locationX>446</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>New Parent Null</defaultConnectorLabel>
        <rules>
            <name>New_Parent_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Accounts_New_Parent</targetReference>
            </connector>
            <label>New Parent Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >If there was a Parent Account before the update, check if the prior parent is still a parent account after this update.</description>
        <name>Prior_Parent_Status</name>
        <label>Prior Parent Status</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>New_Parent_Account_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Parent Null</defaultConnectorLabel>
        <rules>
            <name>Prior_Parent_Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Get_Child_Accounts_of_Prior_Parent</targetReference>
            </connector>
            <label>Prior Parent Existed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Account - RT AS - Child Account Tagging - On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - RT AS - Child Account Tagging - On Update</label>
    <loops>
        <name>Account_Loop_Name_Changed</name>
        <label>Account Loop - Name Changed</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <collectionReference
    >Get_Child_Accounts_Name_Changed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Assign_Child_Account_List_Name_Changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Update_Parent_Account_Name_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Child_Accounts_Loop_New_Parent</name>
        <label>Child Accounts Loop - New Parent</label>
        <locationX>314</locationX>
        <locationY>2471</locationY>
        <collectionReference>Get_Child_Accounts_New_Parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Assign_Child_Account_List_New_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_New_Parent_Child_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Child_Accounts_Loop_Prior_Parent</name>
        <label>Child Accounts Loop - Prior Parent</label>
        <locationX>402</locationX>
        <locationY>1571</locationY>
        <collectionReference
    >Get_Child_Accounts_of_Prior_Parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Assign_Child_Account_List_Prior_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Update_Prior_Parent_Child_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Accounts_Name_Changed</name>
        <label>Get Child Accounts</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Loop_Name_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Accounts_New_Parent</name>
        <label>Get Child Accounts - New Parent</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Accounts_Loop_New_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Accounts_of_Prior_Parent</name>
        <label>Get Child Accounts of Prior Parent</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Assign_count_of_Child_Accounts_Prior_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Parent_Child_Accounts</name>
        <label>Update New Parent - Child Accounts</label>
        <locationX>314</locationX>
        <locationY>2771</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Accounts__c</field>
            <value>
                <elementReference>var_Child_Account_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Parent_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >Update the Child Account List of the Parent Account.</description>
        <name>Update_Parent_Account_Name_Changed</name>
        <label>Update Parent Account - Name Changed</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference
      >Clear_Child_Account_Variable_Name_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Accounts__c</field>
            <value>
                <elementReference>var_Child_Account_List</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Parent_Child_Accounts</name>
        <label>Update Prior Parent - Child Accounts</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference
      >Clear_Child_Account_Variable_Prior_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Accounts__c</field>
            <value>
                <elementReference>var_Child_Account_List</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Parent_No_longer_a_parent</name>
        <label>Update Prior Parent - No longer a parent</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>New_Parent_Account_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Accounts__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Parent_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Account_Name_Change</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Child_Account_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_of_Child_Accounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
