force-app/main/default/flows/Assign_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <description
    >Assign to Tiffany Cianci (005a0000009u4TkAAI) when &quot;Not a Good Fit&quot; is selected.</description>
        <name>NotaGoodFit</name>
        <choiceText>Not a Good Fit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not a Good Fit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nurture</name>
        <choiceText>Nurture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nurture</stringValue>
        </value>
    </choices>
    <choices>
        <description
    >Assign to Tiffany Cianci (005a0000009u4TkAAI) when &quot;Out of Business&quot; is selected.</description>
        <name>Out_of_Business</name>
        <choiceText>Out of Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of Business</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Selection</name>
        <label>Which Selection?</label>
        <locationX>856</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Out_of_Business_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Change_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Out_of_Business</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_Account_Out_of_Business</targetReference>
            </connector>
            <label>Out of Business Selected</label>
        </rules>
        <rules>
            <name>Not_a_Good_Fit_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Change_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NotaGoodFit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Not_a_Good_Fit</targetReference>
            </connector>
            <label>Not a Good Fit Selected</label>
        </rules>
        <rules>
            <name>Nurture_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Change_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nurture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Nurture</targetReference>
            </connector>
            <label>Nurture Selected</label>
        </rules>
    </decisions>
    <description
  >Launches from the &apos;Account Admin: Manage&apos; link. Assigns account to a specific Owner/Status based on selection.</description>
    <dynamicChoiceSets>
        <name>Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e30000001cUuX</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description
    >WARNING - if you are currently in Sandbox, this will link to production.</description>
        <name>f_Link_to_Account</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Account/&quot; &amp; {!AccountId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <description
    >Assign to Tiffany Cianci for &quot;Not a Good Fit&quot; and &quot;Out of Business&quot;. Assign to Erin Molina for &quot;Nurture&quot;</description>
        <name>f_Which_Account_Owner</name>
        <dataType>String</dataType>
        <expression>CASE({!Screen_Change_to}, 
          &quot;Not a Good Fit&quot;, &quot;005a0000009u4TkAAI&quot;,
          &quot;Nurture&quot;, &quot;005a0000009aZsm&quot;,
          &quot;Out of Business&quot;, &quot;005a0000009u4TkAAI&quot;, 
          &quot;005a0000009u4TkAAI&quot;
)</expression>
    </formulas>
    <interviewLabel>Assign Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - SF - Assign Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description
    >Assign to Tiffany Cianci (005a0000009u4TkAAI) when &quot;Not a Good Fit&quot; is selected.</description>
        <name>Update_Account_Not_a_Good_Fit</name>
        <label>Update Account - Not a Good Fit</label>
        <locationX>867</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>ThankYou3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Rejected__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Note__c</field>
            <value>
                <elementReference>Screen_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005a0000009u4TkAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Owner__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >Assign to Erin Molina (005a0000009aZsm) when &quot;Nurture&quot; is selected.</description>
        <name>Update_Account_Nurture</name>
        <label>Update Account - Nurture</label>
        <locationX>1056</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>ThankYou3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Rejected__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Note__c</field>
            <value>
                <elementReference>Screen_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005a0000009aZsm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Owner__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >Assign to Tiffany Cianci (005a0000009u4TkAAI) and set Status to Inactive when &quot;Out of Business&quot; is selected.</description>
        <name>Update_Account_Out_of_Business</name>
        <label>Update Account - Out of Business</label>
        <locationX>685</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>ThankYou3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Account_Note__c</field>
            <value>
                <elementReference>Screen_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005a0000009u4TkAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Owner__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Manage</name>
        <label>Manage</label>
        <locationX>864</locationX>
        <locationY>205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Selection</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Account</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Assign Account&lt;/strong&gt;: {!AccountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Change_to</name>
            <choiceReferences>Nurture</choiceReferences>
            <choiceReferences>NotaGoodFit</choiceReferences>
            <choiceReferences>Out_of_Business</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText
      >&lt;p&gt;A brief description of why this account is being reassigned.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage
        >&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(169, 0, 0);&quot;&gt;Oops! Comments has a max length of 220 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression
        >len({!Screen_Comments})&lt;=220</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ManageDisplayText</name>
            <fieldText
      >&lt;table class=&quot;ql-table-blob&quot; id=&quot;t01&quot; style=&quot;color: rgb(68, 68, 68); white-space: pre;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Account Stage&lt;/th&gt;&lt;th style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Description&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;span style=&quot;font-weight: var(--lwc-fontWeightBold,700);&quot;&gt;Nurture&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Sends account back to the Marketing team to be nurtured further.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;span style=&quot;font-weight: var(--lwc-fontWeightBold,700);&quot;&gt;Not a Good Fit&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Company still in business, but not a good fit for e.Republic to sell to.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;span style=&quot;font-weight: var(--lwc-fontWeightBold,700);&quot;&gt;Out of Business&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Company is no longer in business, never existed, is fictional, etc.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;br&gt;&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYou3</name>
        <label>Thank You</label>
        <locationX>867</locationX>
        <locationY>779</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou3details</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Success! The account has been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Return to Account</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>737</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Manage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Assign</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
