force-app/main/default/flows/Campaign_RT_AS_New_Digital_Campaign_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Marketing_Email_Alert</name>
        <label>Send Email Marketing Email Alert</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName
    >Campaign.Campaign_New_Demand_Gen_Email_Marketing_Campaign</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Campaign.Campaign_New_Demand_Gen_Email_Marketing_Campaign</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Telemarketing_Alert</name>
        <label>Send Telemarketing Alert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName
    >Campaign.Campaign_New_Audience_Telemarketing_Campaign</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Campaign.Campaign_New_Audience_Telemarketing_Campaign</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Web_Vendor_Lead_Email_Alert</name>
        <label>Send Web Vendor Lead Email Alert</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName
    >Campaign.Campaign_Demand_Gen_Web_Vendor_Lead_Campaign_Paper</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Campaign.Campaign_Demand_Gen_Web_Vendor_Lead_Campaign_Paper</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Type</name>
        <label>Which Type?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web_Vendor_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Vendor Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Send_Web_Vendor_Lead_Email_Alert</targetReference>
            </connector>
            <label>Web Vendor Lead</label>
        </rules>
        <rules>
            <name>Telemarketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telemarketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Paper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Telemarketing_Alert</targetReference>
            </connector>
            <label>Telemarketing</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Send_Email_Marketing_Email_Alert</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description
  >Sends an Email Alert any time a New Demand Gen Campaign of Web Vendor Lead, Telemarketing, or Email type is created.</description>
    <environments>Default</environments>
    <interviewLabel
  >Campaign - RT AS - New Digital Campaign Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign - RT AS - Demand Gen Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR (6 AND 7))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000001mYOyQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Paper__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web Vendor Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Telemarketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for approval</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
