force-app/main/default/flows/Case_SF_Convert_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Record</name>
        <label>Assign Case Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_Case_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Product_Fields</name>
        <label>Assign Opp Product Fields</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_to_Create.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_to_Create.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Opportunity_to_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_to_Create.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Opportunity_to_Create.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_to_Create.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Product_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Fields</name>
        <label>Assign Opportunity Fields</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Case_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Contact_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Opportunity_Primary_Campaign_Source__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Opportunity_Lead_Source_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted a Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Web_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.SuppliedCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01230000000wZmsAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.Opportunity_Transaction_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Opp_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Case_Record.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Lead_Detail_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Lead_Detail_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_to_Create.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Sent to Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <description
  >For Cases that were originally converted from Lead Opportunities, this will recreate the Lead Opportunity from the Case.
10/1/2025 LF (v5): Updated Lead Opportunity&apos;s default Close Date to 12/31 of the current year</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Lead_Detail_2</name>
        <dataType>String</dataType>
        <expression
    >&quot;Product: https://erepublic.lightning.force.com/lightning/r/Product2/&quot; &amp; {!f_Product_Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Opportunity</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Opportunity/&quot; &amp; {!var_Opportunity_to_Create.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Opp_Close_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),12,31)</expression>
    </formulas>
    <formulas>
        <name>f_Opportunity_Name</name>
        <dataType>String</dataType>
        <expression
    >{!Get_Case.Account.Name} &amp; &quot; - &quot; &amp; {!Get_Case.Opportunity_Lead_Source_Detail__c} &amp; &quot; - &quot; &amp; {!Get_Case.SuppliedName}</expression>
    </formulas>
    <formulas>
        <name>f_Product_Id</name>
        <dataType>String</dataType>
        <expression
    >IF(CONTAINS({!Get_Case.Opportunity_Lead_Source_Detail__c}, &quot;Navigator&quot;), 
    &quot;01t140000053qgLAAQ&quot;, 
    IF(CONTAINS({!Get_Case.Opportunity_Lead_Source_Detail__c}, &quot;Insider TX&quot;), 
    &quot;01t5Y00000EtwNjQAJ&quot;, 
    &quot;01t140000053sASAAY&quot;))</expression>
    </formulas>
    <interviewLabel
  >Case - SF - Convert to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - SF - Convert to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_Opportunity</name>
        <label>Create Lead Opportunity</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <inputReference>var_Opportunity_to_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <inputReference>var_Opp_Product_to_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Product_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Opportunity_to_Create.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Product_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Display_Success_Screen</targetReference>
        </connector>
        <inputReference>var_Case_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Success_Screen</name>
        <label>Display Success Screen</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text_Success_Screen</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 205, 35); font-size: 16px;&quot;&gt;Success! The Lead Opportunity has been created.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!f_Link_to_Opportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;View Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Opp_Product_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Opportunity_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
