force-app/main/default/flows/Cash_Entry_Line_Item_SF_Refund_Cash_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue
      >{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Cash_Entry_In_Progress</name>
        <label>Is Triggering Cash Entry In Progress?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference
      >Copy_1_of_Create_Cash_Entry_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Triggering_Cash_Entry_Line_Item.c2g__CashEntry__r.c2g__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cash_Entry_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_authorize_net_transacation</name>
        <label>Is this an authorize.net transacation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No not Authorize.net</defaultConnectorLabel>
        <rules>
            <name>Yes_Authorize_net</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Triggering_Cash_Entry_Line_Item.Authorize_Net_Transaction_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cash_Entry</targetReference>
            </connector>
            <label>Yes Authorize.net</label>
        </rules>
    </decisions>
    <description
  >Screen flow to allow the creation of a refund cash entry from an existing cash entry line item, for use with authorize.net transactions.</description>
    <environments>Default</environments>
    <formulas>
        <name>Cash_Entry_Line_Description</name>
        <dataType>String</dataType>
        <expression
    >&quot;REFUND AUTH &quot; &amp;{!Get_Triggering_Cash_Entry_Line_Item.Authorize_Net_Transaction_ID__c}</expression>
    </formulas>
    <formulas>
        <name>Cash_Entry_Number</name>
        <dataType>String</dataType>
        <expression>{!Get_Cash_Entry_Just_Created.Name}</expression>
    </formulas>
    <formulas>
        <name>Refund_Amount_Default_Value</name>
        <dataType>Currency</dataType>
        <expression
    >{!Get_Triggering_Cash_Entry_Line_Item.c2g__CashEntryValue__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Refund_Text</name>
        <dataType>String</dataType>
        <expression>&quot;AUTH&quot;</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>web_trans_acct</name>
        <dataType>String</dataType>
        <expression>&quot;0011400001egVtxAAE&quot;</expression>
    </formulas>
    <interviewLabel
  >Cash Entry Line Item - SF - Refund Cash Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash Entry Line Item - SF - Refund Cash Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Cash_Entry_Line_Item</name>
        <label>Create Line Item (use existing acct)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cash_Entry_Just_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__AccountReference__c</field>
            <value>
                <elementReference
        >Get_Triggering_Cash_Entry_Line_Item.c2g__AccountReference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference
        >Get_Triggering_Cash_Entry_Line_Item.c2g__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntryValue__c</field>
            <value>
                <elementReference>Refund_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntry__c</field>
            <value>
                <elementReference
        >Cash_Entry_Record_Id_Text_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>Cash_Entry_Line_Description</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntryLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cash_Entry_Header</name>
        <label>Create Cash Entry Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference
    >Cash_Entry_Record_Id_Text_Variable</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Cash_Entry_In_Progress</targetReference>
        </connector>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Date__c</field>
            <value>
                <elementReference>Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Description__c</field>
            <value>
                <elementReference>Refund_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PaymentMethod__c</field>
            <value>
                <stringValue
        >Invoice Cash Receipts &amp; CWOs - Check / ACH / CC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Type__c</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntry__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cash_Entry_Line_Item</name>
        <label>Create Line Item (use web trans acct)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Cash_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__AccountReference__c</field>
            <value>
                <elementReference
        >Get_Triggering_Cash_Entry_Line_Item.Authorize_Net_Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>web_trans_acct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntryValue__c</field>
            <value>
                <elementReference>Refund_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntry__c</field>
            <value>
                <elementReference
        >Cash_Entry_Record_Id_Text_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>Cash_Entry_Line_Description</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntryLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cash_Entry_Just_Created</name>
        <label>Get Cash Entry (Just Created)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Cash_Entry_Record_Id_Text_Variable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaCashEntry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Cash_Entry_Line_Item</name>
        <label>Get Triggering Cash Entry Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Is_this_an_authorize_net_transacation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaCashEntryLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Cash_Entry</name>
        <label>Update Triggering Cash Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cash_Entry_Just_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c2g__AccountReference__c</field>
            <value>
                <elementReference
        >Get_Triggering_Cash_Entry_Line_Item.Authorize_Net_Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference>web_trans_acct</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntryLineItem__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Cash_Entry</name>
        <label>Create Cash Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Cash_Entry_Header</targetReference>
        </connector>
        <fields>
            <name>Refund_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Refund_Amount_Default_Value</elementReference>
            </defaultValue>
            <fieldText>Refund Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deposit_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Deposit Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Auth</name>
        <label>Not Auth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Auth_Screen</name>
            <fieldText
      >&lt;p&gt;Error: This is not an authorize.net cash entry.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Page_Screen</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Cash Entry {!Cash_Entry_Number} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Get_Triggering_Cash_Entry_Line_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cash_Entry_Record_Id_Text_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
