force-app/main/default/flows/Cash_Entry_Line_Item_RT_BS_Update_Line_Charges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Four_Percent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.04</numberValue>
        </value>
    </constants>
    <decisions>
        <description
    >Adding this step to check if the total of the payment received is within 4% of the total for the invoice. This will prevent some of the incorrectly attributed line charges.</description>
        <name>Is_the_difference_in_totals_under_4</name>
        <label>Is the difference in totals under 4%?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Percentage_overpayment</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Four_Percent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cash_Entry_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_record_found_AND_total_doesn_t_match</name>
        <label>Was a record found AND total doesn&apos;t match?</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No record found</defaultConnectorLabel>
        <rules>
            <name>Yes_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Sales_Invoice.c2g__InvoiceTotal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.c2g__CashEntryValue__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Is_the_difference_in_totals_under_4</targetReference>
            </connector>
            <label>Yes record found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Update_Line_Charges</name>
        <dataType>Number</dataType>
        <expression
    >{!Get_Sales_Invoice.c2g__InvoiceTotal__c}-{!$Record.c2g__CashEntryValue__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Percentage_overpayment</name>
        <dataType>Number</dataType>
        <expression
    >({!$Record.c2g__CashEntryValue__c} - {!Get_Sales_Invoice.c2g__InvoiceTotal__c})/{!Get_Sales_Invoice.c2g__InvoiceTotal__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel
  >Cash Entry Line Item - BS RT - Update Line Charges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash Entry Line Item - RT BS - Update Line Charges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Invoice</name>
        <label>Get Sales Invoice</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Was_a_record_found_AND_total_doesn_t_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Authorize_Net_Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Authorize_Net_Transaction_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2024-01-01T08:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cash_Entry_Line_Item</name>
        <label>Update Line Charges</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_Cash_Entry_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__Charges__c</field>
            <value>
                <elementReference>f_Update_Line_Charges</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cash_Entry_Value</name>
        <label>Update Cash Entry Value</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>c2g__CashEntryValue__c</field>
            <value>
                <elementReference
        >Get_Sales_Invoice.c2g__InvoiceTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Authorize_Net_Transaction_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>c2g__codaCashEntryLineItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
