force-app/main/default/flows/Complimentary_Subscription_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>CDE_Special_Report</name>
        <choiceText>CDE Special Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0Qa000000J4s63</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emergency_Management</name>
        <choiceText>Emergency Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0Qa000000J4s5y</stringValue>
        </value>
    </choices>
    <choices>
        <name>GOVERNING</name>
        <choiceText>GOVERNING</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0Qa000000J4q7B</stringValue>
        </value>
    </choices>
    <choices>
        <name>Government_Technology</name>
        <choiceText>Government Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0Qa000000J4s5t</stringValue>
        </value>
    </choices>
    <choices>
        <name>Print</name>
        <choiceText>Print</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Print</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_CIO</name>
        <choiceText>Public CIO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0Qa000000J507z</stringValue>
        </value>
    </choices>
    <choices>
        <name>Techwire_Monthly</name>
        <choiceText>Techwire Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0Q1400000Oab3p</stringValue>
        </value>
    </choices>
    <description
  >Allows internal users to create a complimentary subscription from a button or custom link on the contact record.
4/22 added subscriber name to thank you page. 5/24/2019 fixed hard coded reference to NA 13. 10/17 Removed other publications. 3/202024 re-added Governing.</description>
    <environments>Default</environments>
    <interviewLabel
  >Complimentary Subscription Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complimentary Subscription Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Comp_Sub</name>
        <label>Create Comp Sub</label>
        <locationX>389</locationX>
        <locationY>188</locationY>
        <assignRecordIdToReference
    >Newly_Created_Comp_Subscription_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Sub_Lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Publication__c</field>
            <value>
                <elementReference>Publication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qual__c</field>
            <value>
                <stringValue>Non-Requestor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012a0000001RTyA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscriber__c</field>
            <value>
                <elementReference>SubscriberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>Version</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordCreates>
    <recordLookups>
        <name>Sub_Lookup</name>
        <label>Sub Lookup</label>
        <locationX>389</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Newly_Created_Comp_Subscription_Id</elementReference>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputAssignments>
            <assignToReference>SubNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Comp_Sub</name>
        <label>Complimentary Subscription</label>
        <locationX>390</locationX>
        <locationY>72</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Comp_Sub</targetReference>
        </connector>
        <fields>
            <name>Comp_Sub_text</name>
            <fieldText
      >&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Start a new complimentary subscription for:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!SubscriberName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;&lt;br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the publication and delivery version.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Publication</name>
            <choiceReferences>Government_Technology</choiceReferences>
            <choiceReferences>GOVERNING</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference
      >Government_Technology</defaultSelectedChoiceReference>
            <fieldText>Publication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Version</name>
            <choiceReferences>Print</choiceReferences>
            <choiceReferences>Digital</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Version</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>393</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_you_text</name>
            <fieldText
      >&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you! You have successfully added a complimentary {!Publication} subscription for &lt;B&gt;{!SubscriberName}&lt;/B&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Subscription_Information</name>
            <fieldText>{!Publication}
{!Version}
{!SubNumber}
{!$Flow.CurrentDate}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BacktoContact</name>
            <fieldText
      >&lt;br&gt;&lt;br&gt;&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://erepublic.lightning.force.com/{!SubscriberId}&quot; TARGET=&quot;&quot;&gt;&amp;lt;&amp;lt; Back to Contact: {!SubscriberName}&lt;/A&gt; &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Comp_Sub</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Newly_Created_Comp_Subscription_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubscriberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubscriberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
