force-app/main/default/flows/Contract_RT_AS_Contact_Roles_Convert_Inactive_Non_Consent_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Inactive_Contacts</name>
        <label>Assign Inactive Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Inactive_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Inactive_Email_Last_Modified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_to_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Contact_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Non_Consent_Contacts</name>
        <label>Assign Inactive &amp; Non Consent Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Non_Consent_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Non_Consent_Converted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Non_Consent_Converted_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity/Contract Role</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Inactive_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Inactive_Email_Last_Modified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_to_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Contact_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Consent_Contacts</name>
        <label>Assign Non Consent Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Non_Consent_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Non_Consent_Converted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Non_Consent_Converted_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity/Contract Role</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_to_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Contact_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Contact_to_Update</name>
        <label>Clear Contact to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Empty_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_already_in_collection</name>
        <label>Contact already in collection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Non_Consent_or_Inactive_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add to Collection</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_in_Colletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Contact_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference
          >Loop_through_Contact_Roles.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Contact_to_Update</targetReference>
            </connector>
            <label>Yes, Already in Colletion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Roles_Found</name>
        <label>Contact Roles Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Roles_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Roles</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contact_Roles</targetReference>
            </connector>
            <label>Yes, Contact Roles Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contacts_to_Update</name>
        <label>Found Contacts to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Contact_Collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Convert_Non_Consent_Inactive_Contacts</targetReference>
            </connector>
            <label>Yes, Update Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_Consent_or_Inactive_Contact</name>
        <label>Non Consent or Inactive Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clear_Contact_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Both_Non_Consent_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_through_Contact_Roles.Contact.Non_Consent_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_through_Contact_Roles.Contact.Inactive_Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Inactive_Non_Consent_Contacts</targetReference>
            </connector>
            <label>Yes, Both Non Consent &amp; Inactive</label>
        </rules>
        <rules>
            <name>Yes_Non_Consent_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_through_Contact_Roles.Contact.Non_Consent_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_through_Contact_Roles.Contact.Inactive_Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Non_Consent_Contacts</targetReference>
            </connector>
            <label>Yes, Non Consent Contact</label>
        </rules>
        <rules>
            <name>Yes_Inactive_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_through_Contact_Roles.Contact.Non_Consent_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_through_Contact_Roles.Contact.Inactive_Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inactive_Contacts</targetReference>
            </connector>
            <label>Yes, Inactive Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Contract - RT AS - Contact Roles - Convert Inactive / Non Consent Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Contract - RT AS - Contact Roles - Convert Inactive / Non Consent Email</label>
    <loops>
        <name>Loop_through_Contact_Roles</name>
        <label>Loop through Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_already_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Contacts_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Roles_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Contact_Role_Changes</name>
        <label>Clear Contact Role Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Roles</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Role_Changes__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Convert_Non_Consent_Inactive_Contacts</name>
        <label>Convert Non Consent/Inactive Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_Contact_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_Contact_Role_Changes</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND (3 OR 4))</filterLogic>
        <filters>
            <field>Contact_Role_Changes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Contact_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Contact_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contact_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Empty_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
