force-app/main/default/flows/Contract_RT_AS_Event_Inventory_Status_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Low_Inventory</name>
        <label>Send Email - Low Inventory</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue
        >tspiegel@erepublic.com,salesforce@erepublic.com,tcianci@erepublic.com,hearney@erepublic.com,krodgers@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Low Inventory: {!Get_Product_Sponsorship_Limit.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference
        >text_Template_More_Inventory</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Oversold_Inventory</name>
        <label>Send Email - Oversold Inventory</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue
        >tspiegel@erepublic.com,salesforce@erepublic.com,tcianci@erepublic.com,hearney@erepublic.com,krodgers@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Oversold: {!Get_Product_Sponsorship_Limit.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>text_Template_Oversold</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Sold_Out_of_Inventory</name>
        <label>Send Email - Sold Out of Inventory</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue
        >tspiegel@erepublic.com,salesforce@erepublic.com,tcianci@erepublic.com,hearney@erepublic.com,krodgers@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Sold Out: {!Get_Product_Sponsorship_Limit.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>text_Template_Sold_Out</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Count_of_Contracts_Inventory</name>
        <label>Assign Count of Contracts &amp; Inventory</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_Number_of_Contracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Event_Contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count_of_Inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Product_Sponsorship_Limit.Sponsorship_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Product_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Product_Sponsorship_Limit.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Test_Low_Inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Inventory_Left</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Inventory_Low_Sold_Out_or_Oversold</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_of_the_correct_Record_Type</name>
        <label>Event of the correct Record Type?</label>
        <locationX>1073</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not the right Type</defaultConnectorLabel>
        <rules>
            <name>Standard_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Event.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard_Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Event_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Registration only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Event_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Conversation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>INSIDER CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>INSIDER TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_Contracts</targetReference>
            </connector>
            <label>Standard Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Low_Sold_Out_or_Oversold</name>
        <label>Inventory Low, Sold Out, or Oversold?</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_Low_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Low_Inventory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Low_Inventory</targetReference>
            </connector>
            <label>Yes, there is Low Inventory</label>
        </rules>
        <rules>
            <name>No_Sold_Out_of_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Number_of_Contracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Count_of_Inventory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Send_Email_Sold_Out_of_Inventory</targetReference>
            </connector>
            <label>No, Sold Out of Inventory</label>
        </rules>
        <rules>
            <name>No_Oversold_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Number_of_Contracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_Count_of_Inventory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Oversold_Inventory</targetReference>
            </connector>
            <label>No, Oversold Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Sponsorship_Limit</name>
        <label>Is there a Sponsorship Limit?</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No Sponsorship Limit</defaultConnectorLabel>
        <rules>
            <name>Yes_Sponsorship_Limit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Product_Sponsorship_Limit.Sponsorship_Limit__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Count_of_Contracts_Inventory</targetReference>
            </connector>
            <label>Yes, Sponsorship Limit Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Inventory_Left</name>
        <dataType>Number</dataType>
        <expression
    >{!Get_Product_Sponsorship_Limit.Sponsorship_Limit__c} - {!var_Number_of_Contracts}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Link_to_Account</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Account/&quot; &amp; {!$Record.AccountId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Contract</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Contract/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_event</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Events__c/&quot; &amp; {!$Record.Event_Id__c} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Open_Opps</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Report/00OJw000008QtibMAC/view?fv0=&quot; &amp; {!Get_Event.Id}</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Product</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Product2/&quot; &amp; {!Get_Product_Sponsorship_Limit.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Low_Inventory</name>
        <dataType>Boolean</dataType>
        <expression
    >4 &gt; ({!Get_Product_Sponsorship_Limit.Sponsorship_Limit__c}-{!var_Number_of_Contracts}) &amp;&amp; 
({!Get_Product_Sponsorship_Limit.Sponsorship_Limit__c}-{!var_Number_of_Contracts}) &gt; 0</expression>
    </formulas>
    <interviewLabel
  >Contract - RT AS - Event Inventory Status - Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - RT AS - Event Inventory Status - Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>1073</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_of_the_correct_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Contracts</name>
        <label>Get Event Contracts</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Sponsorship_Limit</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) and (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sponsorship_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Sponsorship_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012a0000001RKA9AAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000001RYWjAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Sponsorship_Limit</name>
        <label>Get Product Sponsorship Limit</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Sponsorship_Limit</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>EE_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sponsorship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Sponsorship_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND NOT 6</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000001RYWjAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012a0000001RKA9AAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>001a000001JVDnXAAX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sponsorship_Level__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_Template_More_Inventory</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Contract Activated&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt; &lt;a href=&quot;{!f_Link_to_Contract}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ContractNumber}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Client&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!f_Link_to_Account}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account_Name_Text_Only__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Sponsorship Level&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Sponsorship_Level__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Event&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt; &lt;a href=&quot;{!f_Link_to_event}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Event_Name__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Event Start Date&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Event_Start_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Low Inventory&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Sponsorship_Level__c}&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Contracts:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!var_Number_of_Contracts}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sponsorship Limit:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!var_Count_of_Inventory}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{!f_Link_to_Open_Opps}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Open Opportunities&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;a href=&quot;https://sf_tools.erepublic.com/inventory_grid?year=2023&amp;amp;brand=Govtech&amp;amp;type=Live&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;Inventory Grid&lt;/a&gt; &lt;span style=&quot;font-size: 10px;&quot;&gt;| &lt;/span&gt;&lt;a href=&quot;https://erepublic.lightning.force.com/lightning/setup/Flows/page?address=%2F3005Y000001619tQAA%3FretUrl%3D%2Flightning%2Fsetup%2FFlows%2Fhome&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;Flow&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_Template_Oversold</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Contract Activated&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt; &lt;a href=&quot;{!f_Link_to_Contract}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ContractNumber}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Client&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!f_Link_to_Account}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account_Name_Text_Only__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Sponsorship Level&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;: {!$Record.Sponsorship_Level__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Event&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt; &lt;a href=&quot;{!f_Link_to_event}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Event_Name__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Event Start Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;: {!$Record.Event_Start_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Oversold:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!$Record.Sponsorship_Level__c}&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Contracts:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!var_Number_of_Contracts}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sponsorship Limit:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!var_Count_of_Inventory}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;a href=&quot;https://sf_tools.erepublic.com/inventory_grid?year=2023&amp;amp;brand=Govtech&amp;amp;type=Live&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;Inventory Grid&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; | &lt;/span&gt;&lt;a href=&quot;https://erepublic.lightning.force.com/lightning/setup/Flows/page?address=%2F3005Y000001619tQAA%3FretUrl%3D%2Flightning%2Fsetup%2FFlows%2Fhome&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;Flow&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_Template_Sold_Out</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Contract Activated&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt; &lt;a href=&quot;{!f_Link_to_Contract}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ContractNumber}&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Client&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!f_Link_to_Account}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account_Name_Text_Only__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Sponsorship Level&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;: {!$Record.Sponsorship_Level__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Event&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt; &lt;a href=&quot;{!f_Link_to_event}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Event_Name__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Event Start Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;: {!$Record.Event_Start_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Sold Out:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!$Record.Sponsorship_Level__c}&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Contracts:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!var_Number_of_Contracts}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sponsorship Limit:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!var_Count_of_Inventory}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;a href=&quot;https://sf_tools.erepublic.com/inventory_grid?year=2023&amp;amp;brand=Govtech&amp;amp;type=Live&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;Inventory Grid&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; | &lt;/span&gt;&lt;a href=&quot;https://erepublic.lightning.force.com/lightning/setup/Flows/page?address=%2F3005Y000001619tQAA%3FretUrl%3D%2Flightning%2Fsetup%2FFlows%2Fhome&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;Flow&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_Count_of_Inventory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Inventory_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Number_of_Contracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Product_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Test_Low_Inventory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
