force-app/main/default/flows/Contact_RT_BS_Set_Circ_Digital_Ed_Timestamps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_GOV_Last_Updated</name>
        <label>Assign GOV Last Updated</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Circ_GOV_Digital_Ed_Datestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_GT_Last_Updated</name>
        <label>Assign GT Last Updated</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Circ_GT_Digital_Ed_Datestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GOV_Timestamp_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GOV_Timestamp_Update</name>
        <label>GOV Timestamp Update?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Update_GOV_Timestamp</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Email_Group_Circ_GOV_Digital_Ed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Email_Group_Circ_GOV_Digital_Ed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GOV_Last_Updated</targetReference>
            </connector>
            <label>Yes, Update GOV Timestamp</label>
        </rules>
    </decisions>
    <decisions>
        <name>GT_Timestamp_Update</name>
        <label>GT Timestamp Update?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>GOV_Timestamp_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_GT_Timestamp</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Email_Group_Circ_GT_Digital_Ed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Email_Group_Circ_GT_Digital_Ed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GT_Last_Updated</targetReference>
            </connector>
            <label>Yes, Update GT Timestamp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Current_Date_Time</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel
  >Contact - RT BS - Set Circ - Digital Ed Timestamps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - RT BS - Set Circ - Digital Ed Timestamps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GT_Timestamp_Update</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR ((3 OR 4) AND 5)</filterLogic>
        <filters>
            <field>Email_Group_Circ_GT_Digital_Ed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email_Group_Circ_GOV_Digital_Ed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email_Group_Circ_GT_Digital_Ed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email_Group_Circ_GOV_Digital_Ed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
