force-app/main/default/flows/Contract_RT_AS_CSM_Event_CSM_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_CSM_Email_Alert</name>
        <label>Send CSM Email Alert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Contract.Send_Concierge_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Send_Concierge_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Event_CSM_Email_Alert</name>
        <label>Send Event CSM Email Alert</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contract.Send_Event_CSM_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Send_Event_CSM_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Record_Type_and_CSM</name>
        <label>Which Record Type / CSM?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Contract</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Contract - Locked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Account_has_Event_CSM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Event_CSM_Email_Alert</targetReference>
            </connector>
            <label>Event Contract</label>
        </rules>
        <rules>
            <name>Delivery_Contract</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Contract - Locked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >f_Account_has_Delivery_CSM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CSM_Email_Alert</targetReference>
            </connector>
            <label>Delivery Contract</label>
        </rules>
    </decisions>
    <description
  >When an Event or Delivery Contract&apos;s Status is changed to Activated, Active, Updated, Approved, or Canceled, check if the contract&apos;s Account is a CSM client and if so, send Event CSM Email Alert (Event Contracts) or CSM Alert (Delivery Contracts).</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Account_has_Delivery_CSM</name>
        <dataType>Boolean</dataType>
        <expression
    >{!$Record.Account.Concierge_1__c}&lt;&gt;&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Account_has_Event_CSM</name>
        <dataType>Boolean</dataType>
        <expression
    >{!$Record.Account.Concierge_2__c}&lt;&gt;&quot;&quot;</expression>
    </formulas>
    <interviewLabel
  >Contract - RT AS - CSM / Event CSM Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - RT AS - CSM / Event CSM Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Record_Type_and_CSM</targetReference>
        </connector>
        <filterLogic
    >1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10 OR 11 OR 12)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Event_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Email_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000000AV7yAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000001RYWeAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012a0000001RKA9AAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000001RYWjAAO</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
