force-app/main/default/flows/Contact_RT_BS_Assign_Bad_Email_Domain.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Personal_or_Free_Email_Domain</name>
        <label>Assign Personal or Free Email Domain</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Personal_or_Free_Email_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Personal_or_Free_Email_Domain_Email_not_Null</name>
        <label>Clear Personal or Free Email Domain</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Personal_or_Free_Email_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Personal_or_Free_Email_Domain_Email_Null</name>
        <label>Clear Personal or Free Email Domain</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Personal_or_Free_Email_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_the_Email_Address_Null</name>
        <label>Is the Email Address Null?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Domain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Email Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Clear_Personal_or_Free_Email_Domain_Email_Null</targetReference>
            </connector>
            <label>Yes, Email is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Personal_or_Free_Email_Domain_Found</name>
        <label>Was Personal or Free Email Domain Found?</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference
      >Clear_Personal_or_Free_Email_Domain_Email_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Domain_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Domain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Personal_or_Free_Email_Domain</targetReference>
            </connector>
            <label>Yes, Email Domain Found</label>
        </rules>
    </decisions>
    <description
  >On creation of a Contact with an email or on edit of the contact&apos;s email address, check if the Email Domain is a Bad Email Domain.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Email_Domain</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!$Record.Email}, LEFT({!$Record.Email}, FIND(&quot;@&quot;, {!$Record.Email})), &quot;&quot;)</expression>
    </formulas>
    <interviewLabel
  >Contact - RT BS - Assign Bad Email Domain {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - RT BS - Assign Personal or Free Email Domain</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Domain</name>
        <label>Get Email Domain</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Was_Personal_or_Free_Email_Domain_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Email_Domain</elementReference>
            </value>
        </filters>
        <filters>
            <field>Personal_or_Free_Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Email_Domain__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Email_Address_Null</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
