force-app/main/default/flows/Contact_RT_BS_Privacy_Email_Do_Not_Sell_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Mark_Do_Not_Sell</name>
        <label>Mark Do Not Sell</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.List_Rental_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Do_Not_Sell_Contact</name>
        <label>Do Not Sell Contact?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Mark_Do_Not_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Privacy_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Do_Not_Sell</targetReference>
            </connector>
            <label>Yes, Mark Do Not Sell</label>
        </rules>
    </decisions>
    <description
  >On creation of a new contact, check if the contact&apos;s Email matches an existing &quot;Do Not Sell&quot; Privacy Email. If so, set Privacy Status = Do Not Sell.</description>
    <environments>Default</environments>
    <interviewLabel
  >Contact - RT BS - Do Not Sell - Privacy Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - RT BS - Privacy Email - Do Not Sell (Created)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Privacy_Email</name>
        <label>Get Privacy Email</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Not_Sell_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Privacy_Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Privacy_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Do Not Sell</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Privacy_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Privacy_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Privacy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Do Not Sell</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
