force-app/main/default/flows/Contact_Us_SF_Convert_to_MQL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Converted_MQL_to_Collection</name>
        <label>Add Converted MQL to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MQL_Collection_to_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MQL_to_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Contact_Us_Record_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count_of_Contact_Us</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_MQL_to_Collection</name>
        <label>Add New MQL to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MQL_Collection_to_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_MQL_to_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Contact_Us_Record_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Count_Up</name>
        <label>Add to Count Up</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Count_Up</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Collection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Us_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Collection</name>
        <label>Assign Contact Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Is_Account_Filled_or_Contact_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Us_Record</name>
        <label>Assign Contact Us Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_Us_record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Us_Record_to_Update</name>
        <label>Assign Contact Us Record to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_record.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Screen_Account_Name_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_record.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted to Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Us_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Us_to_Collection</name>
        <label>Assign Contact Us to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_Collection_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_Us_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Count_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Contact_Us</name>
        <label>Assign Count of Contact Us</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Contact_Us_records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count_Up</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Us_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MQL_to_Create_Converted</name>
        <label>Assign MQL to Create (Converted)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Contact_Us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Contact_Us_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.MQL_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Screen_Contact_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted a Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Lead_Detail_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Contact_Us_record.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>70114000002Eu4yAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Lead_Source_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t14000005McabAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Opp_to_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Conversion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Converted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Conversion_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.MQL_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Engagement_AI_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Contact_Qualification.Engagement_AI_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Converted_MQL_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MQL_to_Create_New</name>
        <label>Assign MQL to Create (New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Contact_Us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Contact_Us_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.MQL_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Screen_Contact_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted a Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Lead_Detail_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >var_Contact_Us_record.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>70114000002Eu4yAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Lead_Source_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t14000005McabAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MQL_to_Create.MQL_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_MQL_to_Create.Engagement_AI_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Contact_Qualification.Engagement_AI_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_MQL_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_to_Create_Converted</name>
        <label>Assign Opportunity to Create (Converted)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01230000000wZmsAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Screen_Account_Name_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>70114000002Eu4yAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Contact_Us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted a Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Detail_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Lead_Source_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01s30000000FUOgAAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Converted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_to_Create_Unqualified</name>
        <label>Assign Opportunity to Create (Unqualified)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01230000000wZmsAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Screen_Account_Name_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>70114000002Eu4yAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Contact_Us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted a Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Detail_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Records.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Lead_Source_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp_to_Create.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_to_Create.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01s30000000FUOgAAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Contact_Id</name>
        <label>Clear Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference
      >Is_Account_Filled_or_Contact_Found</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue
      >{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Account_Link_Found</name>
        <label>Account Link Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fill_Contact_Account_Org_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Link_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Fill_Contact_Account_Org_Screen</targetReference>
            </connector>
            <label>Yes, Account Link Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clear_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id</targetReference>
            </connector>
            <label>Yes, Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Us_Records_Found</name>
        <label>Contact Us Records Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Oops_No_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Us_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Total_Contact_Us_records</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Get_Triggering_Contact_Us_records</targetReference>
            </connector>
            <label>Yes, Contact Us Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_MQL_Opp_or_Both</name>
        <label>MQL, Opp, or Both?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference
      >Assign_Opportunity_to_Create_Unqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >Create Opp Only (Unqualified Contact)</defaultConnectorLabel>
        <rules>
            <name>Create_Opportunity_and_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact_Qualification.Private_Sector_Non_Qual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact_Qualification.Private_Sector_Acct_Non_Qual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact_Qualification.MQL_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Opportunity_to_Create_Converted</targetReference>
            </connector>
            <label>Create Opportunity &amp; MQL</label>
        </rules>
        <rules>
            <name>Create_MQL_Qualified_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact_Qualification.Private_Sector_Non_Qual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact_Qualification.Private_Sector_Acct_Non_Qual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact_Qualification.MQL_Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MQL_to_Create_New</targetReference>
            </connector>
            <label>Create MQL (Qualified Contact)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Filled_or_Contact_Found</name>
        <label>Is Account Filled or Contact Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Find Account</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_or_Contact_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Contact_Us_record.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Contact_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Fill_Contact_Account_Org_Screen</targetReference>
            </connector>
            <label>Yes, Account or Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Multiple_Ids</name>
        <label>Single or Multiple Ids?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Count_of_Contact_Us</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_recordId_to_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id_to_Collection</targetReference>
            </connector>
            <label>Add recordId to Collection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Account_Id</name>
        <dataType>String</dataType>
        <expression
    >IF({!var_Contact_Us_record.Account_Name__c}&lt;&gt;null, {!var_Contact_Us_record.Account_Name__c}, 
IF({!Yes_Contact_Found}=True, {!Get_Contact.AccountId}, 
IF({!Yes_Account_Link_Found}=True&lt;&gt;null, {!Get_Account_Link.Account__c}, 
&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>f_Close_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),12,31)</expression>
    </formulas>
    <formulas>
        <name>f_Email_Domain</name>
        <dataType>String</dataType>
        <expression
    >RIGHT({!var_Contact_Us_record.Email__c}, LEN({!var_Contact_Us_record.Email__c}) - FIND(&quot;@&quot;, {!var_Contact_Us_record.Email__c}))</expression>
    </formulas>
    <formulas>
        <name>f_Lead_Source_Detail</name>
        <dataType>String</dataType>
        <expression
    >&quot;Info Request: &quot; &amp; TEXT({!var_Contact_Us_record.Topic__c})</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Contact</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic--staging.sandbox.lightning.force.com/lightning/r/Contact/&quot; &amp; {!Screen_Contact_Lookup.recordId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Opportunity_Name</name>
        <dataType>String</dataType>
        <expression
    >{!Screen_Organization} &amp;&quot; - Contact Us Submission Form - &quot; &amp; {!var_Contact_Us_record.First_Name__c}  &amp; &quot; &quot; &amp; {!var_Contact_Us_record.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>f_Organization</name>
        <dataType>String</dataType>
        <expression
    >IF({!var_Contact_Us_record.Organization__c}&lt;&gt;null, {!var_Contact_Us_record.Organization__c}, 
IF({!Get_Contact.Company_Name_Holder__c}&lt;&gt;null, {!Get_Contact.Company_Name_Holder__c}, &quot;&quot;)
)</expression>
    </formulas>
    <interviewLabel
  >Contact Us - SF - Convert to MQL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Us - SF - Convert to MQL</label>
    <loops>
        <name>Loop_Through_Contact_Us_Records</name>
        <label>Loop Through Contact Us Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference
    >Get_Triggering_Contact_Us_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Us_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Us_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MQLs</name>
        <label>Create MQLs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_MQLs_Created</targetReference>
        </connector>
        <inputReference>var_MQL_Collection_to_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Contact_Role_Converted</name>
        <label>Create Opp Contact Role (Converted)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_MQL_to_Create_Converted</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference
        >Screen_Contact_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>var_Opp_to_Create.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Influencer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Contact_Role_New</name>
        <label>Create Opp Contact Role (New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference
      >Assign_Contact_Us_Record_to_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference
        >Screen_Contact_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>var_Opp_to_Create.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Influencer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Converted</name>
        <label>Create Opp (Converted)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opp_Product_Converted</targetReference>
        </connector>
        <inputReference>var_Opp_to_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_New</name>
        <label>Create Opp (New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opp_Product_New</targetReference>
        </connector>
        <inputReference>var_Opp_to_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Product_Converted</name>
        <label>Create Opp Product (Converted)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opp_Contact_Role_Converted</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>var_Opp_to_Create.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1400000Uo0yFAAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t14000005McabAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Product_New</name>
        <label>Create Opp Product (New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opp_Contact_Role_New</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>var_Opp_to_Create.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1400000Uo0yFAAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t14000005McabAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Link</name>
        <label>Get Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Link_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Email_Domain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Contact_Us_record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Qualification</name>
        <label>Get Contact Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_MQL_Opp_or_Both</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Screen_Contact_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Contact_Us_records</name>
        <label>Get Triggering Contact Us records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contact_Us_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Us__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Us_Collection</name>
        <label>Update Contact Us Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_MQLs</targetReference>
        </connector>
        <inputReference>var_Contact_Us_Collection_to_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fill_Contact_Account_Org_Screen</name>
        <label>Fill Contact, Account &amp; Org</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Qualification</targetReference>
        </connector>
        <fields>
            <name>Fill_Contact_Account_Org_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_Contact_Account_Org_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Account_Name_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>f_Account_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Screen_Organization</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>f_Organization</elementReference>
                    </defaultValue>
                    <fieldText>Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Info_Section</name>
            <fieldText>Contact Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Info_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Contact_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>OpportunityContactRole</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_Contact_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_Edit_Contact</name>
                    <fieldText
          >&lt;p&gt;&lt;a href=&quot;{!f_Link_to_Contact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Contact Record&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference
              >var_Contact_Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Screen_Contact_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference
              >var_Contact_Collection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue
              >[{&quot;apiName&quot;:&quot;Account_Name_Lookup_Formula__c&quot;,&quot;guid&quot;:&quot;column-f997&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name (Lookup Formula)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-0927&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-6f57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-4683&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Company_Name_Holder__c&quot;,&quot;guid&quot;:&quot;column-dec2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Organization&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-ae90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-6682&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Main Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference
              >var_Contact_Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_Count_of_Records</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Converting Contact Us record&lt;/strong&gt; {!var_Contact_Us_record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Record {!var_Count_Up} of {!var_Total_Contact_Us_records}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Name&lt;/strong&gt;: {!var_Contact_Us_record.First_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name&lt;/strong&gt;: {!var_Contact_Us_record.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!var_Contact_Us_record.Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone&lt;/strong&gt;: {!var_Contact_Us_record.Phone__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Topic&lt;/strong&gt;: {!var_Contact_Us_record.Topic__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Message&lt;/strong&gt;: {!var_Contact_Us_record.Message__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Convert to MQL</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oops_No_Records_Found</name>
        <label>Oops! No Records Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_Oops_No_Records</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Oops! No records were selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_MQLs_Created</name>
        <label>Success! MQLs Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_Success_MQLs</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 173, 58);&quot;&gt;Success! The selected records have been converted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Single_or_Multiple_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contact_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contact_Us_Collection_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Us__c</objectType>
    </variables>
    <variables>
        <name>var_Contact_Us_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Us__c</objectType>
    </variables>
    <variables>
        <name>var_Count_Up</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MQL_Collection_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MQL__c</objectType>
    </variables>
    <variables>
        <name>var_MQL_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MQL__c</objectType>
    </variables>
    <variables>
        <name>var_Null_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Opp_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Opp_to_Create_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Total_Contact_Us_records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
