force-app/main/default/flows/Contact_RT_AS_Set_to_MQL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Behavior_Fit</name>
        <label>Behavior / Fit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_High_Behavior_30_Plus</name>
            <conditionLogic
      >1 AND ((2 AND 3) OR (4 AND (5 OR 6)))</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.HubSpot_Private_Sector_Behavior_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Contact_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Account.Company_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Contact_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Account.Company_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Account.Company_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualified_Account</targetReference>
            </connector>
            <label>Yes - High Behavior (30+)</label>
        </rules>
        <rules>
            <name>Yes_Medium_Behavior_20_Plus</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.HubSpot_Private_Sector_Behavior_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Account.Company_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Contact_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Contact_Fit_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualified_Account</targetReference>
            </connector>
            <label>Yes - Medium Behavior (20+)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Behavior_Score_Changed_in_Last_7_Days</name>
        <label>Behavior Score Changed in Last 7 Days?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Behavior_Score_changed_within_Last_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.HubSpot_Private_Sector_Behavior_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_Today_Minus_7_Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Last_Date_Recycled_or_MQL_over_30_Days</targetReference>
            </connector>
            <label>Yes, Behavior Score changed within Last 7 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Date_Recycled_or_MQL_over_30_Days</name>
        <label>Last Date Recycled or MQL over 30 Days?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Over_30_Days_ago</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Last_Date_MQL__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>f_Today_Minus_30_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Last_Date_MQL__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Last_Date_Recycled__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>f_Today_Minus_30_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Last_Date_Recycled__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Behavior_Fit</targetReference>
            </connector>
            <label>Yes, Over 30 Days ago</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Opportunities</name>
        <label>Open Opportunities?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Open_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Opportunity_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_MQL</targetReference>
            </connector>
            <label>No Open Opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checks if the Account is a Client or Agency record type or if is a Placeholder Account (Like New Prospects or e.Republic Subscriptions).</description>
        <name>Qualified_Account</name>
        <label>Qualified Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_is_Qualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012300000005v32AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012300000005v3wAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Account.Placeholder_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Contact_Roles</targetReference>
            </connector>
            <label>Yes, Account is Qualified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Today_Minus_30_Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>f_Today_Minus_7_Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-7</expression>
    </formulas>
    <interviewLabel
  >Contact - RT AS - Set to MQL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - RT AS - Set to MQL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Contact_Roles</name>
        <label>Get Opportunity Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_to_MQL</name>
        <label>Set to MQL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Set_to_MQL__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Behavior_Score_Changed_in_Last_7_Days</targetReference>
        </connector>
        <filterLogic
    >(1 OR 2) AND 3 AND 4 AND (5 OR 6 OR 7 OR 8) AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>HubSpot_Private_Sector_Contact_Fit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HubSpot_Private_Sector_Behavior_Score__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012300000008caRAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>MQL_Lifecycle_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unengaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>MQL_Lifecycle_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>MQL_Lifecycle_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MQL_Lifecycle_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <filters>
            <field>Set_to_MQL__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Private_Sector_Non_Qual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Private_Sector_Acct_Non_Qual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
