force-app/main/default/flows/Contract_RT_AS_Event_Contract_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Alert_CDE</name>
        <label>Contract - Alert - CDE</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_CDE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_CDE</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_CDE_Webinar</name>
        <label>Contract - Alert - CDE Webinar</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_CDE_Webinar</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_CDE_Webinar</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_CDG</name>
        <label>Contract - Alert - CDG</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_CDG</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_CDG</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_Custom</name>
        <label>Contract - Alert - Custom</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_Custom</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_Custom</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_DC</name>
        <label>Contract - Alert - DC</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_DC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_DC</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_EE</name>
        <label>Contract - Alert - EE</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_EE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_EE</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_EM</name>
        <label>Contract - Alert - EM</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_EM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_EM</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_GOV</name>
        <label>Contract - Alert - GOV</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_GOV</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_GOV</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_Government_Exhibitor</name>
        <label>Contract - Alert - Government Exhibitor</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_Government_Exhibitor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_Government_Exhibitor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_GT</name>
        <label>Contract - Alert - GT</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_GT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_GT</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Alert_II</name>
        <label>Contract - Alert - II</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>Contract.Contract_Alert_TW</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Alert_TW</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Excluding Test Accounts: 
Pretend Computer Company Inc., 001a000001JVDnXAAX 
Test, 001a000001ASDhoAAH
ABC Computers (Test Need to Assign), 0011400001gF7JzAAK
Pretend Company, 001Jw00000VLqPzIAL
Testing 123, 0013000000iZv8cAAC</description>
        <name>Testing_Account</name>
        <label>Testing Account?</label>
        <locationX>2360</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel
    >Testing Account - Do not send email alert</defaultConnectorLabel>
        <rules>
            <name>Real_Account_Send_Email_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001a000001JVDnXAAX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001a000001ASDhoAAH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0011400001gF7JzAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001Jw00000VLqPzIAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0013000000iZv8cAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Email_Alert</targetReference>
            </connector>
            <label>Real Account, Send Email Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Email_Alert</name>
        <label>Which Email Alert?</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Event__r.Parent_Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_EE</targetReference>
            </connector>
            <label>EE</label>
        </rules>
        <rules>
            <name>GT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Event__r.Parent_Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_GT</targetReference>
            </connector>
            <label>GT</label>
        </rules>
        <rules>
            <name>CDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Event__r.Parent_Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_CDE</targetReference>
            </connector>
            <label>CDE</label>
        </rules>
        <rules>
            <name>CDG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_CDG</targetReference>
            </connector>
            <label>CDG</label>
        </rules>
        <rules>
            <name>DC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_DC</targetReference>
            </connector>
            <label>DC</label>
        </rules>
        <rules>
            <name>II</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>II</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_II</targetReference>
            </connector>
            <label>II</label>
        </rules>
        <rules>
            <name>EM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_EM</targetReference>
            </connector>
            <label>EM</label>
        </rules>
        <rules>
            <name>GOV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_GOV</targetReference>
            </connector>
            <label>GOV</label>
        </rules>
        <rules>
            <name>CDE_Webinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDE Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_CDE_Webinar</targetReference>
            </connector>
            <label>CDE Webinar</label>
        </rules>
        <rules>
            <name>Custom_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alert_Custom</targetReference>
            </connector>
            <label>Custom Event</label>
        </rules>
        <rules>
            <name>Government_Exhibitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Sponsorship_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Exhibitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Event__r.Parent_Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Contract_Alert_Government_Exhibitor</targetReference>
            </connector>
            <label>Government Exhibitor</label>
        </rules>
    </decisions>
    <description
  >10/20/25 v5: Added bypass for some Test Accounts to not trigger alerts.</description>
    <environments>Default</environments>
    <interviewLabel>Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - RT AS - Event Contract Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Testing_Account</targetReference>
        </connector>
        <filterLogic
    >1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13 AND 14</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Editing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>II</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GOV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDE Webinar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>No_Email_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>800Jw00000MSzzxIAD</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
