force-app/main/default/flows/Contract_RT_BS_Update_Logistics_Coord_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Event_Coordinators</name>
        <label>Assign Event Coordinators</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>var_Logistics_Coord_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Event__r.Event_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Program_IC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Event__r.Program_I_C_Lookup__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Registration_Coordinator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Event__r.Registration_Coordinator__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Event_Director</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Event__r.Event_Director_Lookup__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Event_Admin_Coordinator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Event__r.Event_Admin_Coordinator__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Update_Contract_with_Event_Coordinators</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Event_Coordinators_Match</name>
        <label>Do Event Coordinators Match?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Event Coordinators Match</defaultConnectorLabel>
        <rules>
            <name>No_Event_Coordinators_don_t_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Event_Director__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Event__r.Event_Director_Lookup__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Event_Manager_Logistics__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Event__r.Event_Manager__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_I_C__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Event__r.Program_I_C_Lookup__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Registration_Coordinator__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Event__r.Registration_Coordinator__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Event_Admin_Coordinator__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Event__r.Event_Admin_Coordinator__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Event_Coordinators</targetReference>
            </connector>
            <label>No, Event Coordinators don&apos;t Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Contract - RT BS - Update Logistics Coord Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - RT BS - Update Event Coord Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contract_with_Event_Coordinators</name>
        <label>Update Contract with Event Coordinators</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Event_Admin_Coordinator__c</field>
            <value>
                <elementReference>var_Event_Admin_Coordinator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Director__c</field>
            <value>
                <elementReference>var_Event_Director</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Manager_Logistics__c</field>
            <value>
                <elementReference>var_Logistics_Coord_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_I_C__c</field>
            <value>
                <elementReference>var_Program_IC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Coordinator__c</field>
            <value>
                <elementReference
        >var_Registration_Coordinator</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_Event_Coordinators_Match</targetReference>
        </connector>
        <filterLogic
    >1 AND 2 AND (3 OR 4) AND (5 OR 6 OR 7 OR 8 OR 9 OR 10)</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012a0000001RKA9AAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000001RYWjAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Manager_Logistics__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Coordinator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program_I_C__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Director__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Admin_Coordinator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Event_Admin_Coordinator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Event_Director</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Logistics_Coord_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Program_IC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Registration_Coordinator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
