force-app/main/default/flows/Course_Enrollments_RT_BS_Update_Name_on_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Course_Account</name>
        <label>Assign Course Account</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>var_Course_Enrollment_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Substitute_Course_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Course_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Course_Enrollment_Name</name>
        <label>Assign Course Enrollment Name</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>var_Course_Enrollment_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Course_Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Course_Nickname</name>
        <label>Assign Course Nickname</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>var_Course_Enrollment_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Substitute_Course_Nickname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Standardized_Course_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Course__r.Standardized_Course_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Delivery_Contract_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delivery_Contract_Both_Not_Null</name>
        <label>Assign Delivery Contract (Both Not Null)</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>var_Course_Enrollment_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Substitute_Delivery_Contract_Not_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Updated_Course_Enrollment_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delivery_Contract_No_Contract</name>
        <label>Assign Delivery Contract (No Contract)</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>var_Course_Enrollment_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Substitute_Delivery_Contract_Current_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Updated_Course_Enrollment_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delivery_Contract_Prior_No_Contract</name>
        <label>Assign Delivery Contract (Prior No Contract)</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>var_Course_Enrollment_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Substitute_Delivery_Contract_Prior_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Updated_Course_Enrollment_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Course_Enrollment_Name</name>
        <label>Assign Updated Course Enrollment Name</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Course_Enrollment_Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Prior_or_Current_Value_Null</name>
        <label>Is Prior or Current Value Null?</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference
      >Assign_Delivery_Contract_Both_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >Current &amp; Prior are not Null</defaultConnectorLabel>
        <rules>
            <name>Prior_is_Null_Current_is_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Delivery_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Delivery_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Delivery_Contract_Prior_No_Contract</targetReference>
            </connector>
            <label>Prior is Null &amp; Current is Not</label>
        </rules>
        <rules>
            <name>Current_is_Null_Prior_is_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Delivery_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Delivery_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Delivery_Contract_No_Contract</targetReference>
            </connector>
            <label>Current is Null &amp; Prior is Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Course_Account_Changed</name>
        <label>Was Course Account Changed?</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Was_Course_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >Course Account Not Changed</defaultConnectorLabel>
        <rules>
            <name>Course_Account_was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Course_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Course_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Course_Account</targetReference>
            </connector>
            <label>Course Account was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Course_Changed</name>
        <label>Was Course Changed?</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Was_Delivery_Contract_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Course Not Changed</defaultConnectorLabel>
        <rules>
            <name>Course_was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Course__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Course__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Course_Nickname</targetReference>
            </connector>
            <label>Course was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Delivery_Contract_Changed</name>
        <label>Was Delivery Contract Changed?</label>
        <locationX>578</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference
      >Assign_Updated_Course_Enrollment_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >Delivery Contract Not Changed</defaultConnectorLabel>
        <rules>
            <name>Delivery_Contract_was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Delivery_Contract__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Delivery_Contract__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Is_Prior_or_Current_Value_Null</targetReference>
            </connector>
            <label>Delivery Contract was Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Substitute_Course_Account</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!var_Course_Enrollment_Name}, {!$Record__Prior.Course_Account__r.Name}, {!$Record.Course_Account__r.Name})</expression>
    </formulas>
    <formulas>
        <name>f_Substitute_Course_Nickname</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!var_Course_Enrollment_Name}, {!$Record__Prior.Course_Nickname__c}, {!$Record.Course__r.Course_Nickname__c})</expression>
    </formulas>
    <formulas>
        <name>f_Substitute_Delivery_Contract_Current_Null</name>
        <dataType>String</dataType>
        <expression
    >IF({!$Record.Course_Account__c}&lt;&gt;&quot;0013000000LtZ3UAAV&quot;, 
    SUBSTITUTE({!var_Course_Enrollment_Name}, {!$Record__Prior.Delivery_Contract__r.ContractNumber}, &quot;No Contract&quot;), 
    SUBSTITUTE({!var_Course_Enrollment_Name}, {!$Record__Prior.Delivery_Contract__r.ContractNumber}, &quot;Internal&quot;))</expression>
    </formulas>
    <formulas>
        <name>f_Substitute_Delivery_Contract_Not_Null</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!var_Course_Enrollment_Name}, {!$Record__Prior.Delivery_Contract__r.ContractNumber}, {!$Record.Delivery_Contract__r.ContractNumber})</expression>
    </formulas>
    <formulas>
        <name>f_Substitute_Delivery_Contract_Prior_Null</name>
        <dataType>String</dataType>
        <expression
    >IF(CONTAINS({!$Record__Prior.Name}, &quot;No Contract&quot;), 
    SUBSTITUTE({!var_Course_Enrollment_Name}, &quot;No Contract&quot;, {!$Record.Delivery_Contract__r.ContractNumber}), 
    SUBSTITUTE({!var_Course_Enrollment_Name}, &quot;Internal&quot;, {!$Record.Delivery_Contract__r.ContractNumber}))</expression>
    </formulas>
    <interviewLabel
  >Course Enrollments - RT BS - Update Name on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Enrollments - RT BS - Update Name on Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Course_Enrollment_Name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Course_Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Contract__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Course__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Course_Enrollment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Course_Enrollment_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
