force-app/main/default/flows/Event_or_Conference_RT_BS_Update_Event_Links.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Best_Practices_Badge_Scanning</name>
        <label>Assign Best Practices &amp; Badge Scanning</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Best_Practices_Guide__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Best_Practices_Guide</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Badge_Scanning_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Badge_Scanning_Instructions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Event_have_a_Hub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Fields_no_Hub</name>
        <label>Assign Event Fields no Hub</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agenda_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Event_Agenda_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.COVID_19_Guidelines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >text_Template_Covid19_Guidelines</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Event_Fields_w_Hub</name>
        <label>Assign Event Fields w/ Hub</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agenda_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Event_Agenda_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Virtual_Booth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Virtual_Booth_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.COVID_19_Guidelines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >text_Template_Covid19_Guidelines</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Agenda_and_Virtual_Booth</name>
        <label>Clear Agenda and Virtual Booth</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agenda_Link__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Virtual_Booth__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_the_Event_have_a_Hub</name>
        <label>Does the Event have a Hub?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Assign_Event_Fields_no_Hub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Event Hub</defaultConnectorLabel>
        <rules>
            <name>Yes_Event_has_a_Hub</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Summit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Event_Fields_w_Hub</targetReference>
            </connector>
            <label>Yes, Event has a Hub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Brand_GT_or_EE</name>
        <label>Is the Brand GT or EE?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Does_the_Event_have_a_Hub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Brand is Different</defaultConnectorLabel>
        <rules>
            <name>Yes_Brand_is_GT_or_EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EE -</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>GT -</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Best_Practices_Badge_Scanning</targetReference>
            </connector>
            <label>Yes, Brand is GT or EE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Event_Website_Null</name>
        <label>Is the Event Website Null?</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Clear_Agenda_and_Virtual_Booth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Website is Null</defaultConnectorLabel>
        <rules>
            <name>Yes_Event_Website_is_now_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Event_Website__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Brand_GT_or_EE</targetReference>
            </connector>
            <label>Event Website is not Null</label>
        </rules>
    </decisions>
    <description
  >When the Event Website is changed for a Standard Event, add the Agenda, Virtual Booth, Best Practices, and Badge Scanning Instructions links.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Badge_Scanning_Instructions</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://media.erepublic.com/document/EE23_Badge_Scanning_App_2pg.pdf&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Best_Practices_Guide</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://media.erepublic.com/document/EE22_DATASHEET_Best_Practices.pdf&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Event_Agenda_Link</name>
        <dataType>String</dataType>
        <expression
    >{!$Record.Event_Website__c} &amp; &quot;/#agenda&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Virtual_Booth_Link</name>
        <dataType>String</dataType>
        <expression
    >SUBSTITUTE({!$Record.Event_Website__c}, &quot;https://&quot;, &quot;https://virtual&quot;)</expression>
    </formulas>
    <interviewLabel>Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event or Conference - RT BS - Add Event Links</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Event_Website_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Website__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01230000000ueuwAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Events__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_Template_Covid19_Guidelines</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>COVID-19
Government Technology will continue to monitor and adhere to state and local COVID-19 guidelines at this event. Registrants are encouraged to stay up-to-date with current guidelines and we ask that you review these for any changes before attending the event.</text>
    </textTemplates>
</Flow>
