force-app/main/default/flows/Event_or_Conference_STF_Daily_Actuals_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current_TLI_col_GLAccounts</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_collection_GL_accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Transaction_Loop.c2g__GeneralLedgerAccount__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Event_to_Collection</name>
        <label>Add Event to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_collection_events_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Event_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Actuals_Sync_to_True</name>
        <label>Set Actuals Sync to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Event_Loop.Actuals_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Event_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >Does the GL Account record collection already have this GL in it?</description>
        <name>GL_already_in_collection</name>
        <label>GL already in collection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Current_TLI_col_GLAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No not in collection</defaultConnectorLabel>
        <rules>
            <name>Yes_already_has_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_collection_GL_accounts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference
          >Transaction_Loop.c2g__GeneralLedgerAccount__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Loop</targetReference>
            </connector>
            <label>Yes already has it</label>
        </rules>
    </decisions>
    <description
  >Schedule Triggered Flow - Runs once per day to identify which events need to be updated. Update Runs as a separate Record Triggered Flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Last_Year</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY()) - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Yesterday</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-1</expression>
    </formulas>
    <interviewLabel
  >Event or Conference - STF - Nightly Actuals Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event or Conference - STF - Daily Actuals Sync</label>
    <loops>
        <name>Event_Loop</name>
        <label>Event Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Actuals_Sync_to_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description
    >Loops through transactions and creates a unique collection of the GL codes.</description>
        <name>Transaction_Loop</name>
        <label>Transaction Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GL_already_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the events that need to be updated</description>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GL_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_collection_GL_accounts</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Year__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_Last_Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description
    >Gets transaction line items modified yesterday.</description>
        <name>Get_Transactions</name>
        <label>Get Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>General_Ledger_Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>1360</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_Yesterday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaTransactionLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Events</name>
        <label>Update Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_collection_events_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transactions</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-02</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_collection_events_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Events__c</objectType>
    </variables>
    <variables>
        <description
    >Collection of the GL Accounts on the transactions</description>
        <name>var_collection_GL_accounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
