force-app/main/default/flows/Event_or_Conference_RT_AS_Create_Primary_Onsite_Staff_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_of_Roles_to_Create</name>
        <label>Assign # of Roles to Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Primary_Roles_to_Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >More_Event_Contact_Roles_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_Roles_to_Create_Insider</name>
        <label>Assign # of Roles to Create  (Insider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Primary_Roles_to_Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >More_Event_Contact_Roles_to_Create_Insider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_to_Create</name>
        <label>Assign Role to Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Role_by_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Primary_Roles_to_Create</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Jw000007XFYvIAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_to_Create_Insider</name>
        <label>Assign Role to Create (Insider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Role_by_Count_Insider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Primary_Roles_to_Create</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_to_Create.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Jw000007XFYvIAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_Insider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >var_Event_Contact_Role_to_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference
      >More_Event_Contact_Roles_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_Insider</name>
        <label>Assign to Collection (Insider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Event_Contact_Role_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >var_Event_Contact_Role_to_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference
      >More_Event_Contact_Roles_to_Create_Insider</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More_Event_Contact_Roles_to_Create</name>
        <label>More Event Contact Roles to Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Event_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Primary_Roles_to_Create</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_to_Create</targetReference>
            </connector>
            <label>Yes, Create Event Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Event_Contact_Roles_to_Create_Insider</name>
        <label>More Event Contact Roles to Create? (Insider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference
      >Create_Event_Contact_Roles_Insider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Event_Contact_Role_Insider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Primary_Roles_to_Create</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_to_Create_Insider</targetReference>
            </connector>
            <label>Yes, Create Event Contact Role (Insider)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Event_Series</name>
        <label>Which Event Series?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_of_Roles_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industry_Insider_Events</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Series__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industry Insider Events</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>State of Technology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_of_Roles_to_Create_Insider</targetReference>
            </connector>
            <label>Industry Insider Events</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Role_by_Count</name>
        <dataType>String</dataType>
        <expression>CASE({!var_Primary_Roles_to_Create}, 
          1, &quot;Onsite Logistics Coordinator&quot;, 
          2, &quot;Onsite Registration Coordinator&quot;,
          3, IF(CONTAINS({!$Record.Name},&quot;State of Tech&quot;), &quot;Onsite Client Relations Specialist&quot;, &quot;Onsite Sales Rep&quot;),
          4, &quot;Onsite Event Director&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Role_by_Count_Insider</name>
        <dataType>String</dataType>
        <expression>CASE({!var_Primary_Roles_to_Create}, 
          1, &quot;Onsite Event Director&quot;,
          2, &quot;Onsite Client Relations Specialist&quot;, 
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel
  >Event or Conference - RT AS - Create Primary Onsite Staff Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Event or Conference - RT AS - Create Primary Onsite Staff Roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_Contact_Roles</name>
        <label>Create Event Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_Event_Contact_Role_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Contact_Roles_Insider</name>
        <label>Create Event Contact Roles (Insider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_Event_Contact_Role_Collection</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2 AND 6 AND 7 AND NOT (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01230000000ueuwAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Custom</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Reg Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Series__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CDG Events</stringValue>
            </value>
        </filters>
        <object>Events__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Which_Event_Series</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Event_Contact_Role_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>var_Event_Contact_Role_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>var_Primary_Roles_to_Create</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
