force-app/main/default/flows/Event_or_Conference_SF_Request_Expense_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Request_for_Expense_Update</name>
        <label>Send Request for Expense Update</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Emails_for_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>var_Subject_Line_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference
        >text_Temp_Request_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Table_in_Email</name>
        <label>Send Table in Email</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference
        >Screen_Email_Recipients_Comma_Delimited</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>var_Subject_Line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Text_Temp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Post_Close_Collection</name>
        <label>Add to Post-Close Collection</label>
        <locationX>622</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>var_TransactionLIs_Post_Close</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Pre_Close_Collection</name>
        <label>Add to Pre-Close Collection</label>
        <locationX>358</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>var_TransactionLIs_Pre_Close</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transaction_Row</name>
        <label>Add Transaction Row</label>
        <locationX>358</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>var_TransactionLI_Table_Rows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Text_Temp_TransactionLITableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event</name>
        <label>Assign Event</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_Event_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Home_Value_Style</name>
        <label>Assign Home Value &amp; Style</label>
        <locationX>358</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Home_Value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Through_Selected_Rows.c2g__HomeValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RowNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsEvenRow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_NotIsEvenRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsEvenRow_Static</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_IsEvenRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Home_Value_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Selected_Rows.c2g__HomeValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transaction_Row</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Emails_Text_Template</name>
        <label>Assign Request Emails &amp; Text Template</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_Emails_for_Request</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Emails_for_Request</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ap@erepublic.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Hyperlink_to_Flow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >text_Temp_Hyperlink_Flow_Event_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Rows</name>
        <label>Assign Selected Rows</label>
        <locationX>270</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>var_Selected_TransactionLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Pre_Close_Data_Table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_TransactionLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Post_Close_Data_Table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_True</name>
        <label>Assign True</label>
        <locationX>358</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_Closing_TransactionLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Post_Closing_Transactions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Generate_Expense_Report_Choice</name>
        <choiceText>Generate Expense Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate Expense Report</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_Expenses_Choice</name>
        <choiceText>Request Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Expenses</stringValue>
        </value>
    </choices>
    <decisions>
        <description
    >Check if user is Paul Harney (00530000003A32OAAS), Ryan Saul (00530000001usfpAAA), Jeff Fahndrich (005a0000007WambAAC), or Erica Hall (00530000001nvSAAAY).</description>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Event_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Role</defaultConnectorLabel>
        <rules>
            <name>Finance_Role</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00530000003A32O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00530000001usfp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005a0000007Wamb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00530000001nvSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event</targetReference>
            </connector>
            <label>Finance Role</label>
        </rules>
        <rules>
            <name>Business_Optimization_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Optimization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Button</targetReference>
            </connector>
            <label>Business Optimization Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mark_Closing_Transaction</name>
        <label>Mark Closing Transaction</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Pre_Post_Closing_Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mark_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_Through_Records.Document_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_Through_Records.Document_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True</targetReference>
            </connector>
            <label>Mark True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Post_Closing_Transactions</name>
        <label>Pre/Post Closing Transactions</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Add_to_Post_Close_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post-Close</defaultConnectorLabel>
        <rules>
            <name>Pre_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Closing_TransactionLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Pre_Close_Collection</targetReference>
            </connector>
            <label>Pre-Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Transactions_Found</name>
        <label>Were Transactions Found?</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Oops_No_transactions_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Transactions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Records</targetReference>
            </connector>
            <label>Yes, Transactions Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Type_Was_Selected</name>
        <label>Which Type Was Selected?</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Event_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Request Report</defaultConnectorLabel>
        <rules>
            <name>Generate_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Generate_Expense_Report_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transactions</targetReference>
            </connector>
            <label>Generate Report</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_2_Years_Ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 730</expression>
    </formulas>
    <formulas>
        <name>f_IsEvenRowStyle</name>
        <dataType>String</dataType>
        <expression
    >IF({!var_IsEvenRow_Static}=TRUE, &quot;background-color: #f2f2f2;&quot;, &quot;background-color: #ffffff;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Event</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Events__c/&quot; &amp; {!var_Event_Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_NotIsEvenRow</name>
        <dataType>Boolean</dataType>
        <expression>IF({!var_IsEvenRow}=False, True, False)</expression>
    </formulas>
    <formulas>
        <name>f_Number_of_Emails</name>
        <dataType>Number</dataType>
        <expression
    >LEN({!Screen_Email_Recipients_Comma_Delimited})-LEN(SUBSTITUTE({!Screen_Email_Recipients_Comma_Delimited}, &quot;@&quot;, &quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel
  >Event or Conference - SF - Request Expense Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event or Conference - SF - Request Expense Update</label>
    <loops>
        <name>Loop_Through_Records</name>
        <label>Loop Through Records</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_Closing_Transaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Rows</name>
        <label>Loop Through Selected Rows</label>
        <locationX>270</locationX>
        <locationY>2090</locationY>
        <collectionReference>var_Selected_TransactionLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Home_Value_Style</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Table_Results_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Request</name>
        <label>Get Event</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Assign_Request_Emails_Text_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Events__c</object>
        <outputReference>var_Event_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>GL_Code_Finance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transactions</name>
        <label>Get Transactions</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Transactions_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__GeneralLedgerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Event_Record.GL_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_2_Years_Ago</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaTransactionLineItem__c</object>
        <sortField>Transaction_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Oops_No_transactions_Screen</name>
        <label>Oops No transactions</label>
        <locationX>534</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Transactions</targetReference>
        </connector>
        <fields>
            <name>Display_Oops_No_transactions</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(238, 0, 0);&quot;&gt;Oops! No Transactions found. Please check the GL Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference
      >var_Event_Record.GL_Account__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Button</name>
        <label>Select Button</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Type_Was_Selected</targetReference>
        </connector>
        <fields>
            <name>Screen_Select_Type</name>
            <choiceReferences>Request_Expenses_Choice</choiceReferences>
            <choiceReferences>Generate_Expense_Report_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Display_Text_Finance_Warning</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(228, 1, 1);&quot;&gt;Note: You must have a Financial Force license to generate the expense report.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Screen_Select_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference
            >Generate_Expense_Report_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Data</name>
        <label>Select Data</label>
        <locationX>270</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Rows</targetReference>
        </connector>
        <fields>
            <name>Pre_Close_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>c2g__codaTransactionLineItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pre-Close Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference
          >var_TransactionLIs_Pre_Close</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue
          >[{&quot;apiName&quot;:&quot;c2g__TransactionDate__c&quot;,&quot;guid&quot;:&quot;column-6258&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Transaction Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;c2g__HomeValue__c&quot;,&quot;guid&quot;:&quot;column-9e9b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Home Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Line_Desc_Account__c&quot;,&quot;guid&quot;:&quot;column-b7f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Line Desc / Account&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;c2g__DocumentNumber__c&quot;,&quot;guid&quot;:&quot;column-d388&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Document Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Reference__c&quot;,&quot;guid&quot;:&quot;column-61cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Document Reference&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Description__c&quot;,&quot;guid&quot;:&quot;column-c914&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Document Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Close_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>c2g__codaTransactionLineItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Post Close Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference
          >var_TransactionLIs_Post_Close</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue
          >[{&quot;apiName&quot;:&quot;Transaction_Date__c&quot;,&quot;guid&quot;:&quot;column-7856&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Transaction Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;c2g__HomeValue__c&quot;,&quot;guid&quot;:&quot;column-f17f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Home Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Line_Desc_Account__c&quot;,&quot;guid&quot;:&quot;column-c321&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Line Desc / Account&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Number__c&quot;,&quot;guid&quot;:&quot;column-b37e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Document Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Reference__c&quot;,&quot;guid&quot;:&quot;column-156f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Document Reference&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Description__c&quot;,&quot;guid&quot;:&quot;column-1a8b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Document Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Preview Selected Rows</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Request_Screen</name>
        <label>Send Request</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Request_for_Expense_Update</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Request_Expenses</name>
            <fieldText
      >&lt;p&gt;Send an email to Accounts Payable to request expenses for the following event?:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!f_Link_to_Event}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!var_Event_Record.Name}&lt;/a&gt; - ({!var_Event_Record.GL_Code_Finance__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Table_Results_Screen</name>
        <label>Show Table Results</label>
        <locationX>270</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Table_in_Email</targetReference>
        </connector>
        <fields>
            <name>Screen_Email_Recipients_Comma_Delimited</name>
            <defaultValue>
                <stringValue>ap@erepublic.com, {!var_Email}</stringValue>
            </defaultValue>
            <fieldText>Email Recipients (Comma Delimited):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText
      >&lt;p&gt;Enter up to (5) email addresses separated by commas.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage
        >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(199, 0, 0); font-size: 14px;&quot;&gt;Oops! Please enter a max of 5 email addresses.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression
        >{!f_Number_of_Emails}&lt;6</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Home_Value_and_Table</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Total Accumulated Costs&lt;/strong&gt;: {!var_Total_Home_Value}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Text_Temp_TransactionLIsTable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Text_AllCellsStyle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>text-align: left; padding: 8px;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;Here are the accumulated costs for &lt;a href=&quot;{!f_Link_to_Event}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!var_Event_Record.Name}&lt;/a&gt; - ({!var_Event_Record.GL_Code_Finance__c}):&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total Accumulated Costs&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: {!var_Total_Home_Value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Text_Temp_TransactionLIsTable}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_Temp_Hyperlink_Flow_Event_Id</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;a href=&quot;https://erepublic.lightning.force.com/flow/Event_or_Conference_SF_Request_Expense_Update?recordId={!recordId}&amp;var_Email={!$User.Email}&amp;retURL=https://erepublic.lightning.force.com/lightning/r/Events__c/{!recordId}/view&quot;&gt;{!var_Event_Record.Name} - ({!var_Event_Record.GL_Code_Finance__c})&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_Temp_Request_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Hello,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Please send an updated expense report for the following event:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_Hyperlink_to_Flow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;Note: This link is unique for Financial Force License holders.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_TransactionLIsTable</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;table style=&quot;border-collapse: collapse; width: 100%;&quot;&gt;
    {!Text_Temp_TransactionLIsTableHeader}
    {!var_TransactionLI_Table_Rows}
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_TransactionLIsTableHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;tr style=&quot;background-color: #4CAF50; color: white;text-align: left;&quot;&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;#&lt;/th&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;Transaction Date&lt;/th&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;Expense Amount&lt;/th&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;Line Description / Account&lt;/th&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;Document Reference&lt;/th&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;Document Description&lt;/th&gt;
    &lt;th style=&quot;text-align: left;&quot;&gt;Document Number&lt;/th&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_TransactionLITableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;{!f_IsEvenRowStyle}&quot;&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!var_RowNumber}&lt;/td&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!Loop_Through_Selected_Rows.Transaction_Date__c}&lt;/td&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}text-align: right;&quot;&gt;${!var_Home_Value_Number}&lt;/td&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!Loop_Through_Selected_Rows.Line_Desc_Account__c}&lt;/td&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!Loop_Through_Selected_Rows.Document_Reference__c}&lt;/td&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!Loop_Through_Selected_Rows.Document_Description__c}&lt;/td&gt;
    &lt;td style=&quot;{!Text_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!Loop_Through_Selected_Rows.Document_Number__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Closing_TransactionLI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Emails_for_Request</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Event_GL_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Event_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Event_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Events__c</objectType>
    </variables>
    <variables>
        <name>var_Home_Value_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Hyperlink_to_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsEvenRow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsEvenRow_Static</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_RowNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Selected_TransactionLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
    <variables>
        <name>var_Subject_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue
      >Accumulated Costs: {!var_Event_Record.Name} - ({!var_Event_Record.GL_Code_Finance__c})</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Subject_Line_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue
      >Request for Expenses: {!var_Event_Record.Name} - ({!var_Event_Record.GL_Code_Finance__c})</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Home_Value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_TransactionLI_Table_Rows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TransactionLIs_Post_Close</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
    <variables>
        <name>var_TransactionLIs_Pre_Close</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
</Flow>
