force-app/main/default/flows/Event_or_Conference_ST_Set_Webinar_Status_to_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Event_Gift_Card_Request_Reminder</name>
        <label>Event - Gift Card Request Reminder</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <actionName>Events__c.Event_Gift_Card_Request_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.Event_Gift_Card_Request_Reminder</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Event_End_Date_is_Yesterday</name>
        <label>Event End Date is Yesterday?</label>
        <locationX>611</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Event_Ended_Yesterday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Event_End_Date_Plus_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Event_Status_to_Completed</targetReference>
            </connector>
            <label>Yes, Event Ended Yesterday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Card_Request_already_Submitted</name>
        <label>Gift Card Request already Submitted?</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel
    >Yes, Gift Card Ticket Submitted Already</defaultConnectorLabel>
        <rules>
            <name>No_Gift_Card_Tickets_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tickets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Event_Gift_Card_Request_Reminder</targetReference>
            </connector>
            <label>No Gift Card Tickets Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Gift_Card_Offered</name>
        <label>Was Gift Card Offered?</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Gift_Card_Offered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gift_Card__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Registration_Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Wait_1_Day_to_Send_Gift_Card_Reminder</targetReference>
            </connector>
            <label>Yes, Gift Card Offered</label>
        </rules>
    </decisions>
    <description
  >Set the Webinar Status to Complete. If Gift Card was offered, send a reminder to the Registration Coordinator to submit a Gift Card request Ticket.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Event_End_Date_Plus_1</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event_End_Date__c}+1</expression>
    </formulas>
    <interviewLabel
  >Event or Conference - ST - Set Webinar Status to Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event or Conference - ST - Set Webinar Status to Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tickets</name>
        <label>Get Tickets</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Gift_Card_Request_already_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gift Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Event_Status_to_Completed</name>
        <label>Set Event Status to Completed</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Was_Gift_Card_Offered</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_End_Date_is_Yesterday</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01214000000AUymAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2024-01-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>Events__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-09</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <name>Wait_1_Day_to_Send_Gift_Card_Reminder</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 1 Day to Send Gift Card Reminder</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Tickets</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
