force-app/main/default/flows/Event_or_Conference_AL_ADBD_Registered_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notify_Registration_Coordinator</name>
        <label>Send Email: Notify Registration Coordinator</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_Reg_Coord_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tt_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>salesforce@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Reg_Coordinator_Email</name>
        <label>Assign Reg Coordinator Email</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_Reg_Coord_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Event.Reg_Coordinator_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Email_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Email_Body</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Send_Email_Notify_Registration_Coordinator</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_w_Reg_Coordinator_Found</name>
        <label>Event w/ Reg Coordinator Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Event_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Event.Reg_Coordinator_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reg_Coordinator_Email</targetReference>
            </connector>
            <label>Yes, Event Found</label>
        </rules>
    </decisions>
    <description
  >When the &quot;Register Ad Board&quot; button is clicked on events, send an email to the Registration Coordinator if any Advisory Board members were created.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Current_Date</name>
        <dataType>String</dataType>
        <expression
    >TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Event</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Events__c/&quot; &amp; {!Get_Event.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Report</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/Report/00OJw000008z9PxMAI/view?fv0=&quot; &amp; 
{!f_Current_Date} &amp; &quot;&amp;fv1=&quot; &amp; 
{!f_User_Full_Name} &amp; &quot;&amp;fv2=&quot; &amp; 
{!Get_Event.Id}</expression>
    </formulas>
    <formulas>
        <name>f_User_Full_Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(
SUBSTITUTE({!$User.FirstName} &amp; &quot;%20&quot; &amp; {!$User.LastName}, 
   &quot; &quot;, &quot;%20&quot;),
   &quot;,&quot;, &quot;%2C&quot;),
   &quot;&apos;&quot;,&quot;%27&quot;)</expression>
    </formulas>
    <interviewLabel
  >Event or Conference {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Event or Conference - AL - Register Ad Board Clicked - Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_w_Reg_Coordinator_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Event_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Coordinator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;div style=&quot;font-size:11pt;font-family:arial;&quot;&gt;The &lt;b&gt;Register Ad Board&lt;/b&gt; button was used on &lt;a href=&quot;{!f_Link_to_Event}&quot;&gt;{!Get_Event.Name}&lt;/a&gt;, and ({!var_Registrations_Created}) Advisory Board Registration(s) were created.&lt;br&gt;&lt;br&gt;&lt;b&gt;Event Name&lt;/b&gt;: &lt;a href=&quot;{!f_Link_to_Event}&quot;&gt;{!Get_Event.Name}&lt;/a&gt;&lt;br&gt;&lt;b&gt;Event Start Date&lt;/b&gt;: {!Get_Event.Event_Start_Date__c}&lt;br&gt;&lt;br&gt;&lt;a href=&quot;{!f_Link_to_Report}&quot;&gt;View newly created Advisory Board Registrations&lt;/a&gt;&lt;br&gt;&lt;br&gt;Thank You,&lt;br&gt;&lt;br&gt;{!$User.FirstName} {!$User.LastName}&lt;br&gt;{!$User.Title} | {!$User.CompanyName}&lt;br&gt;&lt;a href=&quot;mailto:{!$User.Email}&quot;&gt;{!$User.Email}&lt;/a&gt;&lt;br&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ad Board Registered: {!Get_Event.Name}</text>
    </textTemplates>
    <variables>
        <name>var_Email_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Event_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Reg_Coord_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Registrations_Created</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Registrations_Updated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
