force-app/main/default/flows/Event_or_Conference_SF_Display_Sponsor_Companies_Related_Contract_Counts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Information</name>
        <label>Assign Contract Information</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Sponsorship_Level</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_over_Associated_Event_Contracts.Sponsorship_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Sponsorship_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_over_Associated_Event_Contracts.Sponsorship_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Sponsorship_Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_over_Associated_Event_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count_Equal_to_Contracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >Get_Current_Year_s_Other_Contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contract_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_over_Associated_Event_Contracts.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count_Up</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Is_Even_Row</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_NotIsEvenRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsEvenRow_Static</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Is_Even_Row</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Table_Row</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Table_Collection</name>
        <label>Assign Table Collection</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Table_of_Rows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Table_Row</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Table_Row</name>
        <label>Assign Table Row</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Table_Row</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >&lt;br&gt;&lt;a href=&quot;{!f_Link_to_Sponsor_Contract}&quot;&gt;{!var_Sponsorship_Name}&lt;/a&gt; - {!var_Sponsorship_Level} &lt;b&gt;[{!var_Count_Equal_to_Contracts}]&lt;/b&gt; &lt;a href=&quot;{!f_Event_Contracts_Report_Link}&quot;&gt;View Details&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contract_Table_Rows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Text_Temp_TableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Table_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count_Up</name>
        <label>Check Count Up</label>
        <locationX>616</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference
      >Loop_over_Associated_Event_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_up_Less_Than_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_Up</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Loop_over_Associated_Event_Contracts</targetReference>
            </connector>
            <label>Count up &lt; 90</label>
        </rules>
        <rules>
            <name>Count_up_Equals_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_Up</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needed_a_Breather_Screen</targetReference>
            </connector>
            <label>Count up = 90</label>
        </rules>
        <rules>
            <name>Count_up_Equals_180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_Up</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needed_a_Breather_Screen_2</targetReference>
            </connector>
            <label>Count up = 180</label>
        </rules>
    </decisions>
    <description
  >Displays Event Sponsors along with a count of their Event Contracts for the current year and a detail link for more info.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Event_Contracts_Report_Link</name>
        <dataType>String</dataType>
        <expression
    >&quot;/lightning/r/Report/00O5Y00000DvbtNUAR/view?fv0=&quot; &amp; {!var_Contract_AccountId}</expression>
    </formulas>
    <formulas>
        <description
    >Formula to pull the Event Year as Text for Event Name filter.</description>
        <name>f_Event_Year</name>
        <dataType>String</dataType>
        <expression
    >TEXT({!Get_Triggering_Event_Record.Event_Year__c})</expression>
    </formulas>
    <formulas>
        <name>f_IsEvenRowStyle</name>
        <dataType>String</dataType>
        <expression
    >IF({!var_IsEvenRow_Static}=TRUE, &quot;background-color: #f2f2f2;&quot;, &quot;background-color: #ffffff;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Sponsor_Contract</name>
        <dataType>String</dataType>
        <expression
    >&quot;/lightning/r/Contract/&quot; &amp; {!var_Sponsorship_Contract_Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_NotIsEvenRow</name>
        <dataType>Boolean</dataType>
        <expression>IF({!var_Is_Even_Row}=False, True, False)</expression>
    </formulas>
    <interviewLabel
  >Event or Conference - SF - Display Sponsor Companies &amp; their Related Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Event or Conference - SF - Display Sponsor Companies &amp; Related Contract Counts</label>
    <loops>
        <name>Loop_over_Associated_Event_Contracts</name>
        <label>Loop over Associated Event Contracts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference
    >Get_Associated_Event_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Get_Current_Year_s_Other_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Display_Table_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Associated_Event_Contracts</name>
        <label>Get Associated Event Contracts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Loop_over_Associated_Event_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Get_Triggering_Event_Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sponsorship_Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Speaker</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Sponsorship_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Year_s_Other_Contracts</name>
        <label>Get Current Year&apos;s Other Contracts</label>
        <locationX>616</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contract_Information</targetReference>
        </connector>
        <filterLogic
    >1 AND 2 AND 3 AND 4 AND (5 OR 6) AND (7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Loop_over_Associated_Event_Contracts.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>f_Event_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard_Teleconference - no website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual Summit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event_Name__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Event_Record</name>
        <label>Get Triggering Event Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Associated_Event_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Events__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Event_Year__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Needed_a_Breather_Screen</name>
        <label>Needed a Breather Screen</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
      >Loop_over_Associated_Event_Contracts</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Need_a_Breather</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(33, 215, 1);&quot;&gt;Phew, this is tough work! I needed a breather.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(33, 215, 1);&quot;&gt;Click continue to proceed!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Needed_a_Breather_Screen_2</name>
        <label>Needed a Breather Screen 2</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
      >Loop_over_Associated_Event_Contracts</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Display_Text_Need_a_Breather</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(33, 215, 1); font-size: 16px;&quot;&gt;*Pausing to sweat a little more* Okay, let&apos;s go!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(33, 215, 1); font-size: 16px;&quot;&gt;Click continue to proceed!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Display_Table_Output</name>
        <label>Display Sponsorships with Contract Counts</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Table</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Event Name:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Triggering_Event_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Text_Temp_Table}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Event_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Text_Temp_AllCellsStyle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>text-align: left; padding: 8px;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_Table</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;table style=&quot;border-collapse: collapse; width: 100%;&quot;&gt;
	    {!Text_Temp_TableHeader}
	    {!var_Contract_Table_Rows}
	&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_TableHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;tr style=&quot;background-color: #4CAF50; color: white;text-align: left;&quot;&gt;
   &lt;th&gt;#&lt;/th&gt;
   &lt;th&gt;Sponsor Company&lt;/th&gt;
   &lt;th&gt;Sponsor Level&lt;/th&gt;
   &lt;th&gt;# of Contracted 2024 Events&lt;/th&gt;
   &lt;th&gt;View Details&lt;/th&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Temp_TableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;{!f_IsEvenRowStyle}&quot;&gt;
	    &lt;td style=&quot;{!Text_Temp_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!var_Count_Up}&lt;/td&gt;
	    &lt;td style=&quot;{!Text_Temp_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;&lt;a href=&quot;{!f_Link_to_Sponsor_Contract}&quot;&gt;{!var_Sponsorship_Name} 
                   &lt;/a&gt;&lt;/td&gt;
	    &lt;td style=&quot;{!Text_Temp_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;{!var_Sponsorship_Level}&lt;/td&gt;
	    &lt;td style=&quot;{!Text_Temp_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;&lt;b&gt;[{!var_Count_Equal_to_Contracts}]&lt;/b&gt;&lt;/td&gt;
	    &lt;td style=&quot;{!Text_Temp_AllCellsStyle}{!f_IsEvenRowStyle}&quot;&gt;&lt;a href=&quot;{!f_Event_Contracts_Report_Link}&quot;&gt;View Details&lt;/a&gt; 
                  &lt;/td&gt;
	&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contract_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contract_Table_Rows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_Equal_to_Contracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Count_Up</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Is_Even_Row</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsEvenRow_Static</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Sponsorship_Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Sponsorship_Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Sponsorship_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Table_of_Rows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Table_Row</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
