force-app/main/default/flows/Expense_Report_Submit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Obtain_Record_Count</name>
        <label>Obtain Record Count</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>curChargesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>curCharges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Everything_OK</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >Checks if all the records associated with the expense report have a status of OK.</description>
        <name>Is_Everything_OK</name>
        <label>Is Everything OK?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Still_Need_Some_Stuff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curChargesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Everything_Looks_Good</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel
  >Expense Report Submit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense Report Submit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description
    >Gets all the charges that are still not OK for this Expense Report.</description>
        <name>Get_All_of_the_Charge_Records</name>
        <label>Get All Not OK Charges</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtain_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expense_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </filters>
        <object>Charge__c</object>
        <outputReference>curCharges</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Merchant__c</queriedFields>
        <queriedFields>Receipt_Attached__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Expense_Report__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description
    >Changes the status of the expense report to submitted</description>
        <name>Change_Status_to_Submitted</name>
        <label>Change Status to Submitted</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Expense_Report__c</object>
    </recordUpdates>
    <screens>
        <name>Everything_Looks_Good</name>
        <label>Everything Looks Good</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Status_to_Submitted</targetReference>
        </connector>
        <fields>
            <name>Everything_Good_Message</name>
            <fieldText
      >&lt;p&gt;&lt;b&gt;Woohoo!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Everything looks good! Click Next to submit your report.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Still_Need_Some_Stuff</name>
        <label>Still Need Some Stuff</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Go_Back_and_Try_Again</name>
            <fieldText
      >&lt;p&gt;&lt;b&gt;WAIT! YOU&apos;RE NOT DONE!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You still have some charges that need categories or receipts.  Go back and review those charges before you submit your report. &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Charges that still need help: {!curChargesCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_of_the_Charge_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curCharges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charge__c</objectType>
    </variables>
    <variables>
        <name>curChargesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description
    >Record Id for the Expense Report Record, passed in from the Action on the Expense Report</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
