force-app/main/default/flows/Finance_Request_RT_AS_Status_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Finance_Request_Reallocation_Request_Completed</name>
        <label>Finance Request - Reallocation Request Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName
    >Finance_Request__c.Finance_Request_Reallocation_Request_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Finance_Request__c.Finance_Request_Reallocation_Request_Completed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finance_Request_Reallocation_Request_Rejected</name>
        <label>Finance Request - Reallocation Request Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName
    >Finance_Request__c.Finance_Request_Reallocation_Request_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Finance_Request__c.Finance_Request_Reallocation_Request_Rejected</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finance_Request_Reallocation_Request_Submitted</name>
        <label>Finance Request - Reallocation Request Submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName
    >Finance_Request__c.Finance_Request_Reallocation_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Finance_Request__c.Finance_Request_Reallocation_Request_Submitted</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Alert</name>
        <label>Which Alert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_Re_Submit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Finance_Request_Reallocation_Request_Submitted</targetReference>
            </connector>
            <label>Submitted / Re-Submit</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Finance_Request_Reallocation_Request_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Finance_Request_Reallocation_Request_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reallocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reallocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Alert</targetReference>
            </connector>
            <label>Reallocation</label>
        </rules>
    </decisions>
    <description
  >Sends Email Alerts when the Status is Submitted, Re-Submit, Rejected, or Completed.</description>
    <environments>Default</environments>
    <interviewLabel
  >Finance Request - RT AS - Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finance Request - RT AS - Status Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <filterLogic>(1 OR (2 AND 3)) AND 4</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </filters>
        <object>Finance_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
