force-app/main/default/flows/Global_SF_Test_PDF_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_PDF_via_Email</name>
        <label>Send PDF via Email</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Check out this PDF!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_Test_HTML</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>lfahndrich@erepublic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>var_ContentVersionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Generated_PDF_Outputs</name>
        <label>Assign Generated PDF Outputs</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >lwc_PDF_Generator.contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >lwc_PDF_Generator.contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lwc_PDF_Generator.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outputs_PDF_Generated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Preview_Outputs</name>
        <label>Assign Preview Outputs</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >lwc_PDF_Generator_Preview_Only.contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >lwc_PDF_Generator_Preview_Only.contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >lwc_PDF_Generator_Preview_Only.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outputs_Preview_Only</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Generate_Attach_PDF</name>
        <choiceText>Generate &amp;amp; Attach PDF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate &amp; Attach PDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Preview_Only</name>
        <choiceText>Preview PDF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Preview PDF</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue
      >{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Which_Type_Selected</name>
        <label>Which Type Selected?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PDF_Preview_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Preview Only</defaultConnectorLabel>
        <rules>
            <name>Generate_Attach_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklist_Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >choice_Generate_Attach_PDF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDF_Generator</targetReference>
            </connector>
            <label>Generate &amp; Attach PDF</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Which_Type</name>
        <dataType>String</dataType>
        <expression
    >IF({!picklist_Select_Type}={!choice_Generate_Attach_PDF}, &quot;PDF Generated and Attached!&quot;, &quot;So Preview!&quot;)</expression>
    </formulas>
    <interviewLabel
  >Global - SF - Test PDF Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global - SF - Test PDF Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Outputs_PDF_Generated</name>
        <label>Display Outputs (PDF Generated)</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_PDF_via_Email</targetReference>
        </connector>
        <fields>
            <name>dt_test</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Content Document Id: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_ContentDocumentId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Content Version Id: &lt;/strong&gt;{!var_ContentVersionId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Message:&lt;/strong&gt; {!var_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Outputs_Preview_Only</name>
        <label>Display Outputs (Preview Only)</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_test2</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Content Document Id: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!var_ContentDocumentId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Content Version Id: &lt;/strong&gt;{!var_ContentVersionId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Message:&lt;/strong&gt; {!var_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PDF_Generator</name>
        <label>PDF Generator</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Generated_PDF_Outputs</targetReference>
        </connector>
        <fields>
            <name>lwc_PDF_Generator</name>
            <extensionName>c:pdfGenerator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>templateContent</name>
                <value>
                    <elementReference>tt_Test_HTML</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue
          >{!$Flow.CurrentDate} - Test Generated PDF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoGenerate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PDF_Preview_Screen</name>
        <label>PDF Preview</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Preview_Outputs</targetReference>
        </connector>
        <fields>
            <name>lwc_PDF_Generator_Preview_Only</name>
            <extensionName>c:pdfGenerator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>templateContent</name>
                <value>
                    <elementReference>tt_Test_HTML</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileName</name>
                <value>
                    <stringValue
          >{!$Flow.CurrentDate} - Test Preview PDF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoGenerate</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>landscape</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Type_Screen</name>
        <label>Select Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>picklist_Select_Type</name>
            <choiceReferences>choice_Generate_Attach_PDF</choiceReferences>
            <choiceReferences>choice_Preview_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Some_Content</name>
            <dataType>String</dataType>
            <fieldText>Add Some Content:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Type_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>tt_Test_HTML</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;body&gt;&lt;h1&gt;Test PDF Generator &amp; Previewer&lt;/h1&gt;
&lt;p&gt;{!f_Which_Type}&lt;/p&gt;&lt;p&gt;{!Add_Some_Content}&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
