force-app/main/default/flows/Line_Item_Schedule_ST_Update_Finance_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Schedules_Found</name>
        <label>Schedules Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Schedules_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Line_Item_Schedules</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Finance_Status</targetReference>
            </connector>
            <label>Yes, Schedules Found</label>
        </rules>
    </decisions>
    <description
  >Nightly run to get Schedules (Written Opps only) without a Finance Status that start with CC, AUTH, CHECK, ACH, or contain a Sales Invoice Number in the Comments. If found, set Finance Status to Billed.</description>
    <environments>Default</environments>
    <interviewLabel
  >Line Item Schedule - ST - Update Finance Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Line Item Schedule - ST - Update Finance Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Line_Item_Schedules</name>
        <label>Get Line Item Schedules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedules_Found</targetReference>
        </connector>
        <filterLogic
    >1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Written</stringValue>
            </value>
        </filters>
        <filters>
            <field>Finance_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIN_Extracted__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>AUTH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CHECK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>ACH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Both</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItemSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Line_Item_Schedules</name>
        <label>Update Line Item Schedules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Update_Finance_Status</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Line_Item_Schedules</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-18</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Update_Finance_Status</name>
        <label>Update Finance Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Line_Item_Schedules</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OpportunityLineItemSchedule</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference
          >Get_Line_Item_Schedules[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Finance_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Billed</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
