force-app/main/default/flows/Membership_Contract_ST_Update_Mismatched_Owner_Admin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Membership_Contract_Record_Variable</name>
        <label>Assign Membership Contract Record Variable</label>
        <locationX>336</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference
      >var_Membership_Contract_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Admin_User</name>
        <label>Assign Sales Admin User</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference
      >var_Membership_Contract_to_Update.Sales_Admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Admin_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sales_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Rep</name>
        <label>Assign Sales Rep</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference
      >var_Membership_Contract_to_Update.Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >A check to determine if anything needs to be updated - do the Sales Rep and Sales Admin from the Membership Contract all match with the Account?</description>
        <name>Do_the_Sales_Rep_and_Sales_Admin_Match_with_Account</name>
        <label>Do the Sales Rep and Sales Admin Match with Account?</label>
        <locationX>336</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel
    >Sales Rep and Admin Match Account</defaultConnectorLabel>
        <rules>
            <name>There_is_a_mismatch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>f_Sales_Admin_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Related_Account.Sales_Admin__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Rep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Related_Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Admin_User</targetReference>
            </connector>
            <label>There is a mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Sales_Admin_User_exist</name>
        <label>Does Sales Admin User exist?</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Assign_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Sales Admin User</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Admin_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Admin_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Admin_User</targetReference>
            </connector>
            <label>Yes, Sales Admin User Exists</label>
        </rules>
    </decisions>
    <description
  >Checks active Membership Contracts daily to determine if the Sales Rep or Sales Admin no longer matches. Updates the Membership Contract, if so.</description>
    <environments>Default</environments>
    <formulas>
        <description
    >Formula to evaluate the Sales Admin name to match with the Account&apos;s Sales Admin formula field. If no name exists, output null to match.</description>
        <name>f_Sales_Admin_Name</name>
        <dataType>String</dataType>
        <expression
    >IF(({!$Record.Sales_Admin__r.FirstName}+&quot; &quot;+{!$Record.Sales_Admin__r.LastName})=&quot; &quot;, &quot;&quot;, {!$Record.Sales_Admin__r.FirstName}+&quot; &quot;+{!$Record.Sales_Admin__r.LastName})</expression>
    </formulas>
    <formulas>
        <description
    >Formula to evaluate the Sales Admin name to match with the Account&apos;s Sales Engineer formula field. If no name exists, output null to match.</description>
        <name>f_Sales_Engineer_Name</name>
        <dataType>String</dataType>
        <expression
    >IF(({!$Record.Sales_Engineer__r.FirstName}+&quot; &quot;+{!$Record.Sales_Engineer__r.LastName})=&quot; &quot;, &quot;&quot;, {!$Record.Sales_Engineer__r.FirstName}+&quot; &quot;+{!$Record.Sales_Engineer__r.LastName})</expression>
    </formulas>
    <interviewLabel
  >Membership Contract - ST - Update Mismatched Owner/Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Contract - ST - Update Mismatched Owner/Admin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>336</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Do_the_Sales_Rep_and_Sales_Admin_Match_with_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description
    >Because the Account&apos;s Sales Admin field is a formula that displays only their name, we need to collect the User Id based on that name.</description>
        <name>Get_Sales_Admin_User</name>
        <label>Get Sales Admin User</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Sales_Admin_User_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Get_Related_Account.Sales_Admin__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Contract</name>
        <label>Update Membership Contract</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <inputReference>var_Membership_Contract_to_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Assign_Membership_Contract_Record_Variable</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>e.Republic - Monthly Memberships</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pretend Computer Company Inc.</stringValue>
            </value>
        </filters>
        <object>Membership_Contract__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-09</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Cathilea_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00530000001nvS9AAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Dustin_Haisler_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005a000000B8a52AAB</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Erin_Molina_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005a0000009aZsmAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Gosia_Colosimo_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00530000001usfqAAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Membership_Contract_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership_Contract__c</objectType>
    </variables>
    <variables>
        <name>var_Ryan_Saul_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00530000001usfpAAA</stringValue>
        </value>
    </variables>
</Flow>
