force-app/main/default/flows/Membership_Contract_Scheduled_Flow_Update_Opp_Product_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Record_Collection</name>
        <label>Add to Record Collection</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Opp_Product_to_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delivery_Status</name>
        <label>Assign Delivery Status</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>var_Opp_Product_to_Add</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_over_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_to_Add.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Stage_to_Delivery_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Collection</name>
        <label>Assign Loop Collection</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Loop_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Last_Modified_Date_Greater_or_Equal_to_Yesterday</name>
        <label>Last Modified Date Greater or Equal to Yesterday?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Last_Modified_Date_Yesterday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_Yesterday_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <label>Yes, Last Modified Date &gt;= Yesterday</label>
        </rules>
    </decisions>
    <description
  >Runs every night and updates the stage on the opp product for any modified Membership Contracts.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Boolean_Date_Yesterday_True</name>
        <dataType>Boolean</dataType>
        <expression
    >DATEVALUE({!$Record.LastModifiedDate})=({!$Flow.CurrentDate}-1)</expression>
    </formulas>
    <formulas>
        <name>f_Stage_to_Delivery_Status</name>
        <dataType>String</dataType>
        <expression>case( {!$Record.Stage__c} ,
&quot;Not Started&quot;, &quot;Not Started&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Canceled&quot;, &quot;Cancelled&quot;,
&quot;In Progress&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <formulas>
        <name>f_Yesterday_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT({!$Flow.CurrentDate}-1)&amp;&quot; 07:00:00&quot;
)</expression>
    </formulas>
    <interviewLabel
  >Membership Contract Scheduled Flow - Update Opp Product Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Contract - ST - Update Opp Product Stage</label>
    <loops>
        <name>Loop_over_Opportunity_Products</name>
        <label>Loop over Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference
    >var_Opp_Product_Loop_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Delivery_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Product_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Loop_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Opportunity_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Product_Collection</name>
        <label>Update Opp Product Collection</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <inputReference>var_Opp_Product_Update_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Last_Modified_Date_Greater_or_Equal_to_Yesterday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-06-21T18:15:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Membership_Contract__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-22</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_Opp_Product_Loop_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Opp_Product_to_Add</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Opp_Product_Update_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
