force-app/main/default/flows/MQL_RT_AS_New_MQL_Assigned_MQL_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Role_Audience_Ops</name>
        <label>MQL - New MQL Assignment - Role: Audience Ops</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Role_Audience_Ops</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >MQL__c.MQL_New_MQL_Assignment_Role_Audience_Ops</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Role_Other</name>
        <label>MQL - New MQL Assignment - Role: Other</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Role_Other</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Role_Other</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_114</name>
        <label>MQL - New MQL Assignment - Sales Team 114</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_114</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_114</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_115</name>
        <label>MQL - New MQL Assignment - Sales Team 115</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_115</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_115</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_116</name>
        <label>MQL - New MQL Assignment - Sales Team 116</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_116</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_116</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_117</name>
        <label>MQL - New MQL Assignment - Sales Team 117</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_117</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_117</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_118</name>
        <label>MQL - New MQL Assignment - Sales Team 118</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_118</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_118</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_127</name>
        <label>MQL - New MQL Assignment - Sales Team 127</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_127</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_127</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_128</name>
        <label>MQL - New MQL Assignment - Sales Team 128</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_128</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_128</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MQL_New_MQL_Assignment_Sales_Team_129</name>
        <label>MQL - New MQL Assignment - Sales Team 129</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>MQL__c.MQL_New_MQL_Assignment_Sales_Team_129</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MQL__c.MQL_New_MQL_Assignment_Sales_Team_129</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Role_Id</name>
        <label>Assign Role Id</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>var_Role_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.Owner:User.UserRoleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Alert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Alert</name>
        <label>Which Alert?</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Team_114</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qIC5UAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qICAUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 114</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_114</targetReference>
            </connector>
            <label>Sales Team 114</label>
        </rules>
        <rules>
            <name>Sales_Team_116</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qICZUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qICeUAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 116</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_116</targetReference>
            </connector>
            <label>Sales Team 116</label>
        </rules>
        <rules>
            <name>Sales_Team_117</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qICjUAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qICoUAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 117</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_117</targetReference>
            </connector>
            <label>Sales Team 117</label>
        </rules>
        <rules>
            <name>Sales_Team_118</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qICtUAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5Y000002qID3UAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 118</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_118</targetReference>
            </connector>
            <label>Sales Team 118</label>
        </rules>
        <rules>
            <name>Sales_Team_127</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00EJw00000RH4PVMA1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00EJw00000RH7vBMAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 127</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_127</targetReference>
            </connector>
            <label>Sales Team 127</label>
        </rules>
        <rules>
            <name>Sales_Team_128</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00EJw00000RH84rMAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00EJw00000RH4NqMAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 128</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_128</targetReference>
            </connector>
            <label>Sales Team 128</label>
        </rules>
        <rules>
            <name>Sales_Team_129</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00EJw00000ZcGPPMA3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 129</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_129</targetReference>
            </connector>
            <label>Sales Team 129</label>
        </rules>
        <rules>
            <name>VP_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00EJw00000Pp64zMAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Sales_Team_115</targetReference>
            </connector>
            <label>VP Sales</label>
        </rules>
        <rules>
            <name>CommDev</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Role_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Ea00000026RpREAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CommDev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Role_Audience_Ops</targetReference>
            </connector>
            <label>CommDev</label>
        </rules>
        <rules>
            <name>Z_Misc</name>
            <conditionLogic>1 AND NOT (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CommDev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >MQL_New_MQL_Assignment_Role_Other</targetReference>
            </connector>
            <label>Z Misc</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel
  >MQL - RT AS - New MQL Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL - RT AS - New MQL / Assigned MQL Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Role_Id</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>MQL_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MQL__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>var_Role_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
