force-app/main/default/flows/Opportunity_RT_AS_Update_MQL_Lifecycle_on_Stage_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_to_Collection</name>
        <label>Assign Contact to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Contacts_to_Update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Recycle</name>
        <label>Assign Contact to Recycle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contact_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.MQL_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.Last_Date_Recycled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.HubSpot_Private_Sector_Behavior_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Recycled_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Update</name>
        <label>Assign Contact to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Contact_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_to_Update.MQL_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recycled_Contact_to_Collection</name>
        <label>Assign Recycled Contact to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >var_Contacts_to_Update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contact_Already_Addressed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contact_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_IDs</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Open_Opps_to_Contact</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Open Opps to Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference
    >currentItem_Filter_Open_Opps_to_Contact</assignNextValueToReference>
        <collectionProcessorType
    >FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Other_Open_Opps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference
      >currentItem_Filter_Open_Opps_to_Contact.ContactId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Contact_IDs</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Open_Opps_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_MQL_Lifecycle_Stage</name>
        <label>Check MQL Lifecycle Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_MQL_Lifecycle_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_Through_Contact_Roles.Contact.MQL_Lifecycle_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Update</targetReference>
            </connector>
            <label>Update MQL Lifecycle Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_to_Update</name>
        <label>Contacts to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >var_Contacts_to_Update_Collection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>Yes, Update Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Opps_Found</name>
        <label>Open Opps Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Open_Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Filter_Open_Opps_to_Contact</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Recycle</targetReference>
            </connector>
            <label>No Open Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_already_addressed</name>
        <label>Was Contact already addressed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_Open_Opps_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Addressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Contact_Already_Addressed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference
          >Loop_Through_Contact_IDs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contact_IDs</targetReference>
            </connector>
            <label>Yes, Already Addressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stage</name>
        <label>Which Stage?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any Open Stage</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_or_Closed_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id_Collection</targetReference>
            </connector>
            <label>Closed Won or Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - RT AS - Update MQL Lifecycle on Stage Change</label>
    <loops>
        <name>Loop_Through_Contact_IDs</name>
        <label>Loop Through Contact IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contact_Id_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Contact_already_addressed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contacts_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contact_Roles</name>
        <label>Loop Through Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference
    >Get_Opp_Contact_Roles_Current_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_MQL_Lifecycle_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contacts_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Contact_Roles_Current_Opp</name>
        <label>Get Opp Contact Roles (Current Opp)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Open_Opps</name>
        <label>Get Other Open Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contact_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Contact_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_Contacts_to_Update_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Contact_Roles_Current_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Get_Contact_Id_Collection</name>
        <label>Get Contact Id Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_Open_Opps</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference
          >Get_Opp_Contact_Roles_Current_Opp[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Contact_Already_Addressed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Open_Opps_to_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_Contact_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Contacts_to_Update_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
