force-app/main/default/flows/Opportunity_SF_Update_Original_Close_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Original_Close_Date</name>
        <label>Assign Original Close Date</label>
        <locationX>264</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference
      >Loop_Through_Selected_Rows.Original_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Update_Original_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Line_Item_Schedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Schedule_Collection</name>
        <label>Assign Schedule &amp; Collection</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_Line_Item_Schedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Schedules</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Line_Item_Schedule.Original_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Original_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Line_Item_Schedule_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Line_Item_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Opportunity</name>
        <label>Assign Selected Opportunity</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_Original_Close_Date</name>
        <dataType>Date</dataType>
        <expression
    >IF(ISBLANK({!Loop_Through_Schedules.Original_Close_Date__c}), null, {!Loop_Through_Schedules.Original_Close_Date__c}+1)</expression>
    </formulas>
    <formulas>
        <name>f_Update_Original_Close_Date</name>
        <dataType>Date</dataType>
        <expression
    >IF(ISBLANK({!Loop_Through_Selected_Rows.Original_Close_Date__c}), {!Get_Selected_Opportunity.CloseDate}, null)</expression>
    </formulas>
    <interviewLabel
  >Opportunity - SF - Update Original Close Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - SF - Update Original Close Dates</label>
    <loops>
        <name>Loop_Through_Opp_Products</name>
        <label>Loop Through Opp Products</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Line_Item_Schedules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Schedule_Data_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Schedules</name>
        <label>Loop Through Schedules</label>
        <locationX>352</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Line_Item_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Schedule_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Rows</name>
        <label>Loop Through Selected Rows</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <collectionReference
    >Schedule_Line_Item_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Original_Close_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Line_Item_Schedules</name>
        <label>Get Line Item Schedules</label>
        <locationX>352</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Loop_Through_Opp_Products.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Override_OCD__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItemSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Screen_Select_Opportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Opportunity</name>
        <label>Get Selected Opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Screen_Select_Opportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Schedule</name>
        <label>Update Schedule</label>
        <locationX>264</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Loop_Through_Selected_Rows</targetReference>
        </connector>
        <inputReference>var_Line_Item_Schedule</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Schedule_Data_Table</name>
        <label>Screen_Schedule_Data_Table</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Rows</targetReference>
        </connector>
        <fields>
            <name>Screen_Opp_Close_Date</name>
            <fieldText
      >&lt;p&gt;&lt;strong&gt;Opportunity&lt;/strong&gt;: {!recordId.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Close Date&lt;/strong&gt;: {!recordId.CloseDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Line_Item_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItemSchedule</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference
          >var_Line_Item_Schedule_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue
          >[{&quot;apiName&quot;:&quot;Original_Close_Date__c&quot;,&quot;guid&quot;:&quot;column-1d2d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Original Close Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-ead6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SIN_Extracted__c&quot;,&quot;guid&quot;:&quot;column-eefe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;SIN (Extracted)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Sales_Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-a3fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Sales Invoice Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-e681&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-aedb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Schedule ID&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Opportunity</name>
        <label>Select Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Select_Opportunity</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select an opportunity to review its schedule&apos;s Original Close Dates:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_Select_Opportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Ticket__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Line_Item_Schedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>var_Line_Item_Schedule_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>var_Schedules_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
</Flow>
