force-app/main/default/flows/Opportunity_SF_Add_Multiple_of_Same_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Opp_Product_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>More_Opp_Products_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_Loop_Counts</name>
        <label>Adjust Loop Counts</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Count_Down</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count_Up</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Products</name>
        <label>Assign Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Screen_Contract_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Flight_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Flight_Date_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Flight_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Flight_Date_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Flight_Dates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Flight_Date_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Line_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_01</name>
        <choiceText>01</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_02</name>
        <choiceText>02</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_03</name>
        <choiceText>03</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_04</name>
        <choiceText>04</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_05</name>
        <choiceText>05</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_06</name>
        <choiceText>06</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_07</name>
        <choiceText>07</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_08</name>
        <choiceText>08</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_09</name>
        <choiceText>09</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_11</name>
        <choiceText>11</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_12</name>
        <choiceText>12</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_13</name>
        <choiceText>13</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_14</name>
        <choiceText>14</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_15</name>
        <choiceText>15</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_16</name>
        <choiceText>16</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>16.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_17</name>
        <choiceText>17</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>17.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_18</name>
        <choiceText>18</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>18.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_19</name>
        <choiceText>19</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>19.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_20</name>
        <choiceText>20</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_21</name>
        <choiceText>21</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>21.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_22</name>
        <choiceText>22</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>22.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_23</name>
        <choiceText>23</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>23.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_24</name>
        <choiceText>24</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>More_Opp_Products_to_Create</name>
        <label>More Opp Products to Create?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Done!</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_More_Opp_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_Down</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjust_Loop_Counts</targetReference>
            </connector>
            <label>Yes, Create More Opp Products</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Count_of_Total</name>
        <dataType>String</dataType>
        <expression
    >IF({!Add_Increment_to_Line_Description}=True, TEXT({!var_Count_Up}) &amp; &quot; of &quot; &amp; TEXT({!Screen_How_Many_Opp_Products}), &quot;&quot;)</expression>
    </formulas>
    <interviewLabel
  >Opportunity - SF - Add Multiple of Same Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - SF - Add Multiple of Same Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Products</name>
        <label>Create Opportunity Products</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>var_Opp_Product_Record_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>More_Opp_Products_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Screen_Product_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fill_Opportunity_Products</name>
        <label>Fill Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Products</targetReference>
        </connector>
        <fields>
            <name>dt_Creating_Opp_Product</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Creating Opportunity Product {!var_Count_Up} of {!var_Total}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fill_Opportunity_Products_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_Opportunity_Products_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Line_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>f_Count_of_Total</elementReference>
                    </defaultValue>
                    <fieldText>Line Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Screen_Sales_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference
            >Get_Price_Book_Entry.UnitPrice</elementReference>
                    </defaultValue>
                    <fieldText>Sales Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_Opportunity_Products_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Flight_Date_Start</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Screen_Flight_Date_End</name>
                    <dataType>Date</dataType>
                    <fieldText>Flight Date End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Screen_Flight_Date_Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Date Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Data_Table_Filled_Opportunity_Products</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue
          >Running list of Opportunity Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference
          >var_Opp_Product_Record_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue
          >[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-a822&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Flight_Date_Start__c&quot;,&quot;guid&quot;:&quot;column-00d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Flight Date Start&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Flight_Date_End__c&quot;,&quot;guid&quot;:&quot;column-dc60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Flight Date End&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Flight_Dates__c&quot;,&quot;guid&quot;:&quot;column-96ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Flight Date Notes&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-c488&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Count_Up</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Product_and_Contract_Screen</name>
        <label>Select Product &amp; Contract</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <fields>
            <name>dt_Select_Product</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select the Product to create multiple Opportunity Products for.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Product_and_Contract_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Product_and_Contract_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Product_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product2Id</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>OpportunityLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Screen_How_Many_Opp_Products</name>
                    <choiceReferences>Choice_01</choiceReferences>
                    <choiceReferences>Choice_02</choiceReferences>
                    <choiceReferences>Choice_03</choiceReferences>
                    <choiceReferences>Choice_04</choiceReferences>
                    <choiceReferences>Choice_05</choiceReferences>
                    <choiceReferences>Choice_06</choiceReferences>
                    <choiceReferences>Choice_07</choiceReferences>
                    <choiceReferences>Choice_08</choiceReferences>
                    <choiceReferences>Choice_09</choiceReferences>
                    <choiceReferences>Choice_10</choiceReferences>
                    <choiceReferences>Choice_11</choiceReferences>
                    <choiceReferences>Choice_12</choiceReferences>
                    <choiceReferences>Choice_13</choiceReferences>
                    <choiceReferences>Choice_14</choiceReferences>
                    <choiceReferences>Choice_15</choiceReferences>
                    <choiceReferences>Choice_16</choiceReferences>
                    <choiceReferences>Choice_17</choiceReferences>
                    <choiceReferences>Choice_18</choiceReferences>
                    <choiceReferences>Choice_19</choiceReferences>
                    <choiceReferences>Choice_20</choiceReferences>
                    <choiceReferences>Choice_21</choiceReferences>
                    <choiceReferences>Choice_22</choiceReferences>
                    <choiceReferences>Choice_23</choiceReferences>
                    <choiceReferences>Choice_24</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>How Many?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText
          >&lt;p&gt;Select the number of Opportunity Products to create.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Add_Increment_to_Line_Description</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add Incremental Line Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText
          >&lt;p&gt;Checking this box will add incremental text to the Line Description.&lt;/p&gt;&lt;p&gt;Example: &apos;1 of 2&apos;, &apos;2 of 2&apos;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Product_and_Contract_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Contract_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contract__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>OpportunityLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_Success_Screen</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 169, 34); font-size: 14px;&quot;&gt;Success! The Opportunity Products have been added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Select_Product_and_Contract_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Count_Down</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Screen_How_Many_Opp_Products</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Count_Up</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Opp_Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Opp_Product_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Screen_How_Many_Opp_Products</elementReference>
        </value>
    </variables>
</Flow>
