force-app/main/default/flows/Opportunity_RT_AS_Sync_ROI_to_Opp_Products_on_Written.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opp_Product_to_Record_Collection</name>
        <label>Add Opp Product to Record Collection</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Opp_Product_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Product_to_Record_Variable</name>
        <label>Assign Opp Product to Record Variable</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_Opp_Product_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opp_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_ROI_Ways_to_Leverage</name>
        <label>Assign Standard ROI &amp; Ways to Leverage</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Standard_ROI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Standard_ROI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opp_Product_Record.Ways_to_Leverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Product.Ways_to_Leverage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Add_Opp_Product_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_results_were_found</name>
        <label>Check if results were found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opp_Products</targetReference>
            </connector>
            <label>Results Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Opportunity - RT AS - Sync ROI to Opp Products on Written {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - RT AS - Sync ROI to Opp Products on Written</label>
    <loops>
        <name>Loop_Through_Opp_Products</name>
        <label>Loop Through Opp Products</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Opportunity_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Assign_Opp_Product_to_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Product</name>
        <label>Get Opportunity Product</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_results_were_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Assign_Standard_ROI_Ways_to_Leverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Loop_Through_Opp_Products.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Products</name>
        <label>Update Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>var_Opp_Product_Record_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (2 AND 3)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Written</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Opp_Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Opp_Product_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
