force-app/main/default/flows/Opportunity_Treatment_RT_AS_Pending_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pending_Opp_Email_Alert</name>
        <label>Pending Opp Email Alert</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName
    >Opportunity_Treatment__c.Opportunity_Treatment_Pending_Opportunity_Multi_Client_Pitch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Opportunity_Treatment__c.Opportunity_Treatment_Pending_Opportunity_Multi_Client_Pitch</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel
  >Opportunity Treatment - RT AS - Pending Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Treatment - RT AS - Update Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description
    >Checks field &quot;Contains Opportunity Treatment&quot; on Opportunity record</description>
        <name>Check_Field_on_Opportunity</name>
        <label>Check Field on Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Pending_Opp_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contains_Opportunity_Treatment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Field_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Opp</stringValue>
            </value>
        </filters>
        <object>Opportunity_Treatment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
