force-app/main/default/flows/Privacy_Request_AL_Erase_My_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Prefix</name>
        <label>Assign Case Prefix</label>
        <locationX>50</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[Cases]: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cases_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_to_Clear</name>
        <label>Assign Case to Clear</label>
        <locationX>138</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>var_Case_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case_Record.SuppliedName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case_Record.Web_Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case_Record.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case_Record.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Cases.Id}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_to_Collection</name>
        <label>Assign Case to Collection</label>
        <locationX>138</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>var_Case_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Us_Form_to_Clear</name>
        <label>Assign Contact Us Form to Clear</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_Record.Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_Record.Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Us_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Contact_Us_Forms.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Contact_Us_Forms.Id}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Contact_Us_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Us_Prefix</name>
        <label>Assign Contact Us Prefix</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[Contact Us]: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Contact_Us_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Us_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Us_Record_Collection</name>
        <label>Assign Contact Us Record Collection</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference
      >var_Contact_Us_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Contact_Us_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Us_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Record_Collection</name>
        <label>Assign Opportunity Record Collection</label>
        <locationX>138</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_to_Clear</name>
        <label>Assign Opportunity to Clear</label>
        <locationX>138</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_Record.Lead_First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_Record.Lead_Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_Record.Lead_Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_Record.Lead_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Opportunity_Record.Lead_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Opportunities.Id}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Assign_Opportunity_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunty_Prefix</name>
        <label>Assign Opportunty Prefix</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[Opportunities]: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunities_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Paper_Download_Collection</name>
        <label>Assign Paper Download Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Paper_Download_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Paper_Download_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Paper_Downloads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Paper_Download_Prefix</name>
        <label>Assign Paper Download Prefix</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[Paper Downloads]: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Paper_Downloads_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Paper_Downloads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Paper_to_Non_Qual</name>
        <label>Assign Paper to Non-Qual</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference
      >var_Paper_Download_Record.Non_Qual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Paper_Download_Record.Privacy_Removal_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Paper_Download_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Paper_Downloads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Paper_Downloads.Id}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Paper_Download_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cases_Exist</name>
        <label>Cases Exist</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cases_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Prefix</targetReference>
            </connector>
            <label>Yes, Cases Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Us_Forms_Exist</name>
        <label>Contact Us Forms Exist?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Us_Forms_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Us_Forms</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Us_Prefix</targetReference>
            </connector>
            <label>Yes, Contact Us Forms Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunities_Exist</name>
        <label>Opportunities Exist?</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Get_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunities_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunty_Prefix</targetReference>
            </connector>
            <label>Yes, Opportunities Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recent_Paper_Downloads_Exist</name>
        <label>Recent Paper Downloads Exist?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Us_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Paper_Downloads_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Paper_Downloads</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Paper_Download_Prefix</targetReference>
            </connector>
            <label>Yes, Paper Downloads Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_365_Days_Ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-365</expression>
    </formulas>
    <interviewLabel
  >Privacy Request - AL - Erase My Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Request - AL - Erase My Data</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>50</locationX>
        <locationY>3230</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_to_Clear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contact_Us_Forms</name>
        <label>Loop Through Contact Us Forms</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Contact_Us_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Us_Form_to_Clear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Us_Forms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_to_Clear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Paper_Downloads</name>
        <label>Loop Through Paper Downloads</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Paper_Downloads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Paper_to_Non_Qual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Paper_Downloads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>SuppliedEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__r.Second_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Us_Forms</name>
        <label>Get Contact Us Forms</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Us_Forms_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__r.Second_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Us__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Lead_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__r.Second_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paper_Downloads</name>
        <label>Get Paper Downloads</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recent_Paper_Downloads_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Registrant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Privacy_Request_Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Download_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_365_Days_Ago</elementReference>
            </value>
        </filters>
        <filters>
            <field>Non_Qual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Privacy_Removal_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Paper_Download__c</object>
        <sortField>Download_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>50</locationX>
        <locationY>3638</locationY>
        <inputReference>var_Case_Record_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Us_Forms</name>
        <label>Update Contact Us Forms</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <inputReference>var_Contact_Us_Record_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <inputReference>var_Opportunity_Record_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Paper_Downloads</name>
        <label>Update Paper Downloads</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Contact_Us_Forms</targetReference>
        </connector>
        <inputReference>var_Paper_Download_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Paper_Downloads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Affected_Record_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Case_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Cases_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Contact_History_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactHistory</objectType>
    </variables>
    <variables>
        <name>var_Contact_History_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Contact_History_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactHistory</objectType>
    </variables>
    <variables>
        <name>var_Contact_Us_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Contact_Us_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Us__c</objectType>
    </variables>
    <variables>
        <name>var_Contact_Us_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Us__c</objectType>
    </variables>
    <variables>
        <name>var_Opportunities_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Opportunity_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Opportunity_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Paper_Download_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Paper_Download__c</objectType>
    </variables>
    <variables>
        <name>var_Paper_Download_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Paper_Download__c</objectType>
    </variables>
    <variables>
        <name>var_Paper_Downloads_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Privacy_Request_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Privacy_Request__c</objectType>
    </variables>
</Flow>
