force-app/main/default/flows/Project_Delivery_Schedule_Item_RT_BS_Moved_to_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Income_Category_FINAL</name>
        <label>Income Category FINAL</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_as_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Income_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Date_Moved_to_Final</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Created as Final</label>
        </rules>
        <rules>
            <name>Moved_To_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Income_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Income_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Date_Moved_to_Final1</targetReference>
            </connector>
            <label>Moved To Final</label>
        </rules>
        <rules>
            <name>Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Income_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Income_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FINAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Date_Moved_to_Final</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Clear_Date</name>
        <dataType>Date</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel
  >Project Delivery Schedule Item - RT BS - Moved to Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Delivery Schedule Item - RT BS - Moved to Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Date_Moved_to_Final</name>
        <label>Add Date - Moved to Final</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Moved_to_Final__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Date_Moved_to_Final1</name>
        <label>Add Date - Moved to Final1</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Moved_to_Final__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Date_Moved_to_Final</name>
        <label>Clear Date - Moved to Final</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Moved_to_Final__c</field>
            <value>
                <elementReference>Clear_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Income_Category_FINAL</targetReference>
        </connector>
        <object>Project_Delivery_Schedule_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
