force-app/main/default/flows/Project_RT_BS_Demand_Gen_In_Production_Post_Delivery_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Post_Delivery_Email_Sent</name>
        <label>Assign Post-Delivery Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Post_Delivery_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Start_Date</name>
        <label>Assign Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description
    >When Select Project Status is changed to &quot;Demand Gen: In-Production&quot; and the Start Date is blank, set Start Date to Today.
When Project Phase is changed to &quot;Completed&quot; from &quot;Post Production Required&quot; and &quot;Post-Delivery Email Sent&quot; is blank, set &quot;Post-Delivery Email Sent&quot; to Today.</description>
        <name>Which_Field_Update</name>
        <label>Which Field Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demand_Gen_In_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Project_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand Gen: In-Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date</targetReference>
            </connector>
            <label>Demand Gen - In Production</label>
        </rules>
        <rules>
            <name>Demand_Gen_Post_Delivery_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Project_Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record__Prior.Project_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Production Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Project_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Post_Delivery_Email_Sent__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Post_Delivery_Email_Sent</targetReference>
            </connector>
            <label>Demand Gen - Post-Delivery Completed</label>
        </rules>
    </decisions>
    <description
  >When Select Project Status is changed to &quot;Demand Gen: In-Production&quot; and the Start Date is blank, set Start Date to Today.
When Project Phase is changed to &quot;Completed&quot; from &quot;Post Production Required&quot; and &quot;Post-Delivery Email Sent&quot; is blank, set &quot;Post-Delivery Email Sent&quot; to Today.</description>
    <environments>Default</environments>
    <interviewLabel
  >Project - RT BS - Demand Gen - In Production/Post Delivery Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Project - RT BS - Demand Gen - In Production/Post Delivery Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Field_Update</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6))</filterLogic>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demand Gen</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000001bPG9QAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demand Gen: In-Production</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Phase__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>SFL5_Projects__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
