force-app/main/default/flows/Record_Trigger_Contact_Before_Save_Privacy_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_List_Rental_Opt_Out_and_Privacy_Date</name>
        <label>Assign List Rental Opt-Out and Privacy Date</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.List_Rental_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Other_Privacy_Fields</name>
        <label>Assign Other Privacy Fields</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Other_Mailing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Privacy_Other_Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Other_Mailing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Privacy_Other_Mailing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Other_Mailing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Privacy_Other_Mailing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Other_Mailing_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Other_Mailing_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Other_Mailing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Privacy_Other_Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Other_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Other_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Contact_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Assigns Privacy Contact Fields, Contact Status, Inactive Status &amp; Privacy Date</description>
        <name
    >Assign_Privacy_Contact_Fields_Contact_Status_Inactive_Status_Privacy_Date</name>
        <label
    >Assign Privacy Contact Fields, Contact Status, Inactive Status &amp; Privacy Date</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Inactive_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request to be removed from database</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Mailing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Mailing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Mailing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Mailing_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Mailing_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Mailing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Mailing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Mailing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Phone_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Phone_Ext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Second_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Second_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Privacy_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Privacy_Mobile_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Privacy_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Privacy_Date</name>
        <label>Assign Privacy Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Privacy_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Contact_Fields</name>
        <label>Clear Contact Fields</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Clear_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Second_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Company_Name_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description
    >Checks what the Contact&apos;s Privacy Status is set to.</description>
        <name>Check_Privacy_Status</name>
        <label>Check Privacy Status</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Privacy_Status_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Privacy_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Privacy_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Privacy Status Null</label>
        </rules>
        <rules>
            <name>Privacy_Status_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Privacy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Privacy_Contact_Fields_Contact_Status_Inactive_Status_Privacy_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Privacy Status Deleted</label>
        </rules>
        <rules>
            <name>Privacy_Status_Do_Not_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Privacy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do Not Sell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_List_Rental_Opt_Out_and_Privacy_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Privacy Status Do Not Sell</label>
        </rules>
    </decisions>
    <description
  >Updates the fields on the contact when the privacy status is changed to Deleted or Do not Sell</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Clear_Last_Name</name>
        <dataType>String</dataType>
        <expression>&quot;[Contact Deleted]&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Department</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Department__c})=False,
             ISBLANK({!$Record.Department})=True
    ), 
    {!$Record.Privacy_Department__c}, 
    {!$Record.Department}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Email</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Email__c})=False,
             ISBLANK({!$Record.Email})=True
    ), 
    {!$Record.Privacy_Email__c}, 
    {!$Record.Email}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_First_Name</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_First_Name__c})=False,
             ISBLANK({!$Record.FirstName})=True
    ), 
    {!$Record.Privacy_First_Name__c}, 
    {!$Record.FirstName}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Last_Name</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Last_Name__c})=False,
             {!$Record.LastName}=&quot;[Contact Deleted]&quot;
    ), 
    {!$Record.Privacy_Last_Name__c}, 
    {!$Record.LastName}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Mailing_City</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Mailing_City__c})=False,
             ISBLANK({!$Record.MailingCity})=True
    ), 
    {!$Record.Privacy_Mailing_City__c}, 
    {!$Record.MailingCity}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Mailing_Country</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Mailing_Country__c})=False,
             ISBLANK({!$Record.MailingCountry})=True
    ), 
    {!$Record.Privacy_Mailing_Country__c}, 
    {!$Record.MailingCountry}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Mailing_State</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Mailing_State__c})=False,
             ISBLANK({!$Record.MailingState})=True
    ), 
    {!$Record.Privacy_Mailing_State__c}, 
    {!$Record.MailingState}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Mailing_Street</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Mailing_Street__c})=False,
             ISBLANK({!$Record.MailingStreet})=True
    ), 
    {!$Record.Privacy_Mailing_Street__c}, 
    {!$Record.MailingStreet}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Mailing_Zip</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Mailing_Zip_Code__c})=False,
             ISBLANK({!$Record.MailingPostalCode})=True
    ), 
    {!$Record.Privacy_Mailing_Zip_Code__c}, 
    {!$Record.MailingPostalCode}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Mobile_Phone</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Mobile__c})=False,
             ISBLANK({!$Record.MobilePhone})=True
    ), 
    {!$Record.Privacy_Mobile__c}, 
    {!$Record.MobilePhone}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Organization</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Organization__c})=False,
             ISBLANK({!$Record.Company_Name_Holder__c})=True
    ), 
    {!$Record.Privacy_Organization__c}, 
    {!$Record.Company_Name_Holder__c}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Other_Mailing_City</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Other_Mailing_City__c})=False,
             ISBLANK({!$Record.OtherCity})=True
    ), 
    {!$Record.Privacy_Other_Mailing_City__c}, 
    {!$Record.OtherCity}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Other_Mailing_Country</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Other_Mailing_Country__c})=False,
             ISBLANK({!$Record.OtherCountry})=True
    ), 
    {!$Record.Privacy_Other_Mailing_Country__c}, 
    {!$Record.OtherCountry}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Other_Mailing_State</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Other_Mailing_State__c})=False,
             ISBLANK({!$Record.OtherState})=True
    ), 
    {!$Record.Privacy_Other_Mailing_State__c}, 
    {!$Record.OtherState}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Other_Mailing_Street</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Other_Mailing_Street__c})=False,
             ISBLANK({!$Record.OtherStreet})=True
    ), 
    {!$Record.Privacy_Other_Mailing_Street__c}, 
    {!$Record.OtherStreet}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Other_Mailing_Zip</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Other_Mailing_Zip__c})=False,
             ISBLANK({!$Record.OtherPostalCode})=True
    ), 
    {!$Record.Privacy_Other_Mailing_Zip__c}, 
    {!$Record.OtherPostalCode}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Other_Phone</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Other_Phone__c})=False,
             ISBLANK({!$Record.OtherPhone})=True
    ), 
    {!$Record.Privacy_Other_Phone__c}, 
    {!$Record.OtherPhone}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Phone</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Phone__c})=False,
             ISBLANK({!$Record.Phone})=True
    ), 
    {!$Record.Privacy_Phone__c}, 
    {!$Record.Phone}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Phone_Ext</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Phone_Ext__c})=False,
             ISBLANK({!$Record.Phone_Extension__c})=True
    ), 
    {!$Record.Privacy_Phone_Ext__c}, 
    {!$Record.Phone_Extension__c}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Second_Email</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Second_Email__c})=False,
             ISBLANK({!$Record.Second_Email__c})=True
    ), 
    {!$Record.Privacy_Second_Email__c}, 
    {!$Record.Second_Email__c}
)</expression>
    </formulas>
    <formulas>
        <name>f_Privacy_Title</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!$Record.Privacy_Title__c})=False,
             ISBLANK({!$Record.Title})=True
    ), 
    {!$Record.Privacy_Title__c}, 
    {!$Record.Title}
)</expression>
    </formulas>
    <interviewLabel
  >Record-Trigger: Contact Before Save - Privacy Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - RT BS - Privacy Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Privacy_Status</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Privacy_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Privacy_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
