force-app/main/default/flows/Record_Trigger_Account_Before_Save_Update_Record_Type_Credit_App_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agency_Record_Type_Update_Credit_App_Status</name>
        <label>Assign Agency Record Type &amp; Update Credit App Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Account_Record_Type_Id_Agency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Credit_App_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency - No Credit App Needed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Update_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Client_Record_Type</name>
        <label>Assign Client Record Type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Account_Record_Type_Id_Client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Update_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Credit_App_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_INTERNAL_Record_Type</name>
        <label>Assign INTERNAL Record Type</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Account_Record_Type_Id_INTERNAL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Update_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Credit_App_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Public_Sector_Entity_Record_Type</name>
        <label>Assign Public Sector Entity Record Type</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Account_Record_Type_Id_Public_Sector_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Update_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Credit_App_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Record_Type</name>
        <label>Assign Vendor Record Type</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Account_Record_Type_Id_Vendor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Update_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Credit_App_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Credit_App_Status</name>
        <label>Clear Credit App Status</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credit_App_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Credit_App_Status</name>
        <label>Check Credit App Status</label>
        <locationX>710</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_App_Status_Set_to_Agency_No_Credit_App_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Credit_App_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency - No Credit App Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Credit_App_Status</targetReference>
            </connector>
            <label
      >Credit App Status Set to Agency - No Credit App Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_record_type_was_selected</name>
        <label>What record type was selected?</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Record_Type_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Update_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Agency_Record_Type_Update_Credit_App_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Agency Record Type Selected</label>
        </rules>
        <rules>
            <name>Client_Record_Type_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Update_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Client Record Type Selected</label>
        </rules>
        <rules>
            <name>INTERNAL_Record_Type_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Update_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INTERNAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INTERNAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_INTERNAL_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>INTERNAL Record Type Selected</label>
        </rules>
        <rules>
            <name>Public_Sector_Entity_Record_Type_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Update_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector Entity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Public_Sector_Entity_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Public Sector Entity Record Type Selected</label>
        </rules>
        <rules>
            <name>Vendor_Record_Type_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Update_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>Vendor Record Type Selected</label>
        </rules>
    </decisions>
    <description
  >If an Update Record Type Picklist option is selected or if a Record Type ID is changed, update the Credit App Status field as needed and set appropriate Record Type ID.</description>
    <environments>Default</environments>
    <formulas>
        <description
    >Pulls the custom label for the Account Record Type Id of Agency.</description>
        <name>f_Account_Record_Type_Id_Agency</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Record_Type_Id_Agency}</expression>
    </formulas>
    <formulas>
        <description
    >Pulls the custom label for the Account Record Type Id of Client.</description>
        <name>f_Account_Record_Type_Id_Client</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Record_Type_Id_Client}</expression>
    </formulas>
    <formulas>
        <description
    >Pulls the custom label for the Account Record Type Id of INTERNAL.</description>
        <name>f_Account_Record_Type_Id_INTERNAL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Record_Type_Id_INTERNAL}</expression>
    </formulas>
    <formulas>
        <description
    >Pulls the custom label for the Account Record Type Id of Public Sector Entity.</description>
        <name>f_Account_Record_Type_Id_Public_Sector_Entity</name>
        <dataType>String</dataType>
        <expression
    >{!$Label.Account_Record_Type_Id_Public_Sector_Entity}</expression>
    </formulas>
    <formulas>
        <description
    >Pulls the custom label for the Account Record Type Id of Vendor.</description>
        <name>f_Account_Record_Type_Id_Vendor</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Record_Type_Id_Vendor}</expression>
    </formulas>
    <interviewLabel
  >Record-Trigger: Account Before Save - Update Record Type &amp; Credit App Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label
  >Record-Trigger: Account Before Save - Update Record Type &amp; Credit App Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_record_type_was_selected</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_Record_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
