force-app/main/default/flows/Sales_Invoice_SF_New_CWO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Sales_Invoice_Line_Item</name>
        <label>Assign Sales Invoice Line Item</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Sales_Invoice_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_Assign_Fields</name>
        <label>Pre-Assign Fields</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0011400001egVtxAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__InvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.CWO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUTH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.Invoice_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QTY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__DeriveDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01214000000AVjdAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Sales_Invoice_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validation_check</name>
        <label>Validation check</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Sales_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Set</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >f_VR_Accounts_Receivable_Control_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >f_VR_You_may_only_create_CWO_invoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >f_VR_You_cannot_post_a_test_invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >f_VR_Billing_Address_Not_Validated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oops_Validation_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description
  >Creates a Sales Invoice &amp; Sales Invoice Line Item.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Link_to_Sales_Invoice</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/c2g__codaInvoice__c/&quot; &amp; {!var_Sales_Invoice_Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Sales_Invoice_Line_Item</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/c2g__codaInvoiceLineItem__c/&quot; &amp; {!var_Sales_Invoice_Line_Item_Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_VR_Accounts_Receivable_Control_Required</name>
        <dataType>Boolean</dataType>
        <expression
    >ISPICKVAL({!var_Sales_Invoice_Record.CWO_Type__c}, &quot;Auth&quot;)=TRUE
&amp;&amp;
{!Get_Account.c2g__CODAAccountsReceivableControl__c} = &quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_VR_Billing_Address_Not_Validated</name>
        <dataType>Boolean</dataType>
        <expression
    >{!var_Sales_Invoice_Record.Billing_Address_Validated__c} = FALSE
&amp;&amp;
{!var_Sales_Invoice_Record.c2g__InvoiceDate__c} &gt; DATE(2024,09,01)
&amp;&amp;
ISBLANK({!Get_Account.fferpcore__ExemptionCertificate__c})
&amp;&amp;
ISBLANK({!Get_Account.c2g__CODAExemptionCertificate__c})</expression>
    </formulas>
    <formulas>
        <name>f_VR_You_cannot_post_a_test_invoice</name>
        <dataType>Boolean</dataType>
        <expression
    >(ISPICKVAL( {!var_Sales_Invoice_Record.CWO_Type__c} , &quot;AUTH&quot;)) &amp;&amp;  
(
CONTAINS( {!var_Sales_Invoice_Record.Special_Billing_Instructions__c} , &quot;@erepublic.com&quot;)
||
CONTAINS( {!var_Sales_Invoice_Record.Special_Billing_Instructions__c}, &quot;@govtech.com&quot;)
||
CONTAINS( {!var_Sales_Invoice_Record.Special_Billing_Instructions__c}, &quot;@governing.com&quot;)
||
CONTAINS( {!var_Sales_Invoice_Record.Special_Billing_Instructions__c}, &quot;@centerdigitaled.com&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>f_VR_You_may_only_create_CWO_invoices</name>
        <dataType>Boolean</dataType>
        <expression
    >ISPICKVAL({!var_Sales_Invoice_Record.CWO_Type__c},&quot;&quot;)
&amp;&amp;
OR(
{!Get_Account.Id} = &quot;0011400001egVtx&quot;,
{!Get_Account.Id} = &quot;0011400001fLnUa&quot;,
{!Get_Account.Id} = &quot;0011400001fLKsu&quot;,
{!Get_Account.Id} = &quot;0011400001fLqR2&quot;,
{!Get_Account.Id} = &quot;0011400001fLnT8&quot;
)</expression>
    </formulas>
    <interviewLabel
  >Sales Invoice - SF - Create CWO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Invoice - SF - New CWO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_Invoice</name>
        <label>Create Sales Invoice</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Sales_Invoice_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_Sales_Invoice</targetReference>
        </faultConnector>
        <inputReference>var_Sales_Invoice_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Invoice_Line_Item</name>
        <label>Create Sales Invoice Line Item</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Transaction</targetReference>
        </faultConnector>
        <inputReference>var_Sales_Invoice_Line_Item_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >var_Sales_Invoice_Record.c2g__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Transaction</name>
        <label>Roll Back Transaction</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference
      >Fault_Screen_Sales_Invoice_Line_Item</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Fault_Screen_Sales_Invoice</name>
        <label>Fault Screen - Sales Invoice</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>Display_Text_Fault_Screen_Sales_Invoice</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 0, 0); font-size: 14px;&quot;&gt;Oops! There was an error while creating the Sales Invoice. Please see below for more details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 0, 0); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_Sales_Invoice_Line_Item</name>
        <label>Fault Screen - Sales Invoice_Line_Item</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Fill_Sales_Invoice_Screen</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Fault_Screen_Sales_Invoice_Line_Item</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(215, 0, 0);&quot;&gt;Oops! There was an error while creating the Sales Invoice Line Item. Please see below for more details:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(215, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(215, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_Sales_Invoice_Screen</name>
        <label>Fill Sales Invoice</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Sales_Invoice</name>
            <fieldText>New Sales Invoice</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sales_Invoice_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Record.c2g__Account__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Record.Special_Billing_Instructions__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Record.Authorize_Net_Transaction_ID__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sales_Invoice_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Record.c2g__InvoiceDate__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Record.CWO_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Record.Invoice_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sales_Invoice_Line_Item</name>
            <fieldText>New Sales Invoice Line Item</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sales_Invoice_Line_Item_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Line_Item_Record.c2g__Product__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Line_Item_Record.c2g__LineDescription__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Line_Item_Record.Registration__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference
          >var_Sales_Invoice_Line_Item_Record.c2g__UnitPrice__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Oops_Validation_Error</name>
        <label>Oops! Validation Error</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_Accounts_Receivable_Control_Required</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(199, 0, 0); font-size: 14px;&quot;&gt;Account must have an AccountsReceivableControl to create an invoice with a CWO Type of AUTH.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >f_VR_Accounts_Receivable_Control_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_You_may_only_create_CWO_invoices</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(199, 0, 0); font-size: 14px;&quot;&gt;You may only create CWO invoices under this account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >f_VR_You_may_only_create_CWO_invoices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_You_cannot_post_a_test_invoice</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(199, 0, 0);&quot;&gt;You cannot post an Authorize.net test invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >f_VR_You_cannot_post_a_test_invoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_Billing_Address_Not_Validated</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(199, 0, 0); font-size: 14px;&quot;&gt;You cannot create or modify a Sales Invoice until the Account Billing Address has been validated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
          >f_VR_Billing_Address_Not_Validated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success_Text</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(36, 195, 0); font-size: 14px;&quot;&gt;Success! Your Sales Invoice and Sales Invoice Line Item have been created.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!f_Link_to_Sales_Invoice}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;View Sales Invoice&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; | &lt;/span&gt;&lt;a href=&quot;{!f_Link_to_Sales_Invoice_Line_Item}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;View Sales Invoice Line Item&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pre_Assign_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Sales_Invoice_Line_Item_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoiceLineItem__c</objectType>
    </variables>
    <variables>
        <name>var_Sales_Invoice_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoice__c</objectType>
    </variables>
</Flow>
