force-app/main/default/flows/Sales_Credit_Note_SF_Create_Sales_Invoice_and_Sales_Invoice_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Sales_Invoice_Line_Item_to_Collection</name>
        <label>Add Sales Invoice Line Item to Collection</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >var_Sales_Invoice_Line_Item_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Loop_Through_Credit_Note_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Invoice_Line_Item</name>
        <label>Assign Sales Invoice Line Item</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Sales_Invoice_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__UseProductInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__TaxRate1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__TaxRate1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__TaxValue1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__TaxValue1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__DeriveUnitPriceFromProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__LineNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__LineNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__LineDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Line_Item_Record.c2g__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_Through_Credit_Note_Line_Items.c2g__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Add_Sales_Invoice_Line_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Invoice_Record</name>
        <label>Assign Sales Invoice Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01214000000AVjdAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__InvoiceStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.Invoice_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.Special_Billing_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >f_Sales_Invoice_Special_Billing_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.c2g__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__OwnerCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >recordId.c2g__OwnerCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >recordId.c2g__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__InvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >recordId.c2g__CustomerReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.CWO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >recordId.c2g__Invoice__r.CWO_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Sales_Invoice_Record.c2g__DerivePeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Credit_Note_Line_Items</targetReference>
        </connector>
    </assignments>
    <description
  >Button on Sales Credit Note (&quot;SCR&quot;). Enables Finance to easily create &quot;Reverse SCR&quot; Sales Invoices and their Sales Invoice Line Items.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Due_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>f_Link_to_Sales_Invoice</name>
        <dataType>String</dataType>
        <expression
    >&quot;https://erepublic.lightning.force.com/lightning/r/c2g__codaInvoice__c/&quot; &amp; {!var_Sales_Invoice_Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>f_Sales_Invoice_Special_Billing_Instructions</name>
        <dataType>String</dataType>
        <expression>&quot;Reversing &quot; &amp; {!recordId.Name}</expression>
    </formulas>
    <interviewLabel
  >Sales Credit Note - SF - Create Sales Invoice and Sales Invoice Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Credit Note - SF - Reverse SCR</label>
    <loops>
        <name>Loop_Through_Credit_Note_Line_Items</name>
        <label>Loop Through Credit Note Line Items</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference
    >Get_Sales_Credit_Note_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sales_Invoice_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sales_Invoice_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_Invoice</name>
        <label>Create Sales Invoice</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference
      >Loop_Through_Credit_Note_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Sales_Invoice</targetReference>
        </faultConnector>
        <inputReference>var_Sales_Invoice_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Invoice_Line_Items</name>
        <label>Create Sales Invoice Line Items</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Records</targetReference>
        </faultConnector>
        <inputReference
    >var_Sales_Invoice_Line_Item_Record_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Credit_Note_Line_Items</name>
        <label>Get Sales Credit Note Line Items</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__CreditNote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaCreditNoteLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>440</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference
      >Fault_Message_Sales_Invoice_Line_Item</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Sales_Invoice_Record</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri&amp;quot;, sans-serif; font-size: 16px;&quot;&gt;You are about to create an Invoice and Invoice Line items matching this SCR and its line items. Proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Sales_Invoice</name>
        <label>Fault_Message_Sales_Invoice</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text_Error_Message_Sales_Invoice</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(218, 0, 0);&quot;&gt;Oops! The Sales Invoice was not created due to the following error: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(218, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Sales_Invoice_Line_Item</name>
        <label>Fault_Message_Sales_Invoice_Line_Item</label>
        <locationX>440</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text_Error_Message_Sales_Invoice_Line_Item</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 0, 0); font-size: 14px;&quot;&gt;Oops! The Sales Invoice Line Item(s) were not created due to the following error: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text_Success</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 195, 0);&quot;&gt;Success! The Sales Invoice is ready to be reviewed &amp;amp; posted.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!f_Link_to_Sales_Invoice}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;View Sales Invoice&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaCreditNote__c</objectType>
    </variables>
    <variables>
        <name>var_Sales_Invoice_Line_Item_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoiceLineItem__c</objectType>
    </variables>
    <variables>
        <name>var_Sales_Invoice_Line_Item_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoiceLineItem__c</objectType>
    </variables>
    <variables>
        <name>var_Sales_Invoice_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoice__c</objectType>
    </variables>
</Flow>
