force-app/main/default/flows/Sales_Credit_Note_SF_Create_Refund_Cash_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Refund_Text</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AUTH</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue
      >{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>Cash_Entry_Line_Description</name>
        <dataType>String</dataType>
        <expression
    >&quot;REFUND &quot;&amp;{!Get_Triggering_SCR.c2g__InvoiceReference__c}&amp;&quot; | &quot;&amp; {!Get_Triggering_SCR.Name}</expression>
    </formulas>
    <formulas>
        <name>Cash_Entry_Number</name>
        <dataType>String</dataType>
        <expression>{!Get_Cash_Entry_Just_Created.Name}</expression>
    </formulas>
    <formulas>
        <name>Refund_Amount_Default_Value</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Triggering_SCR.c2g__CreditNoteTotal__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <interviewLabel
  >Sales Credit Note - SF - Create Refund Cash Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Credit Note - SF - Create Refund Cash Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cash_Entry_Header</name>
        <label>Create Cash Entry Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference
    >Cash_Entry_Record_Id_Text_Variable</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Cash_Entry_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Date__c</field>
            <value>
                <elementReference>Deposit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Description__c</field>
            <value>
                <elementReference>Refund_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__PaymentMethod__c</field>
            <value>
                <stringValue
        >Invoice Cash Receipts &amp; CWOs - Check / ACH / CC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Type__c</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntry__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Cash_Entry_Line_Item</name>
        <label>Create Cash Entry Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cash_Entry_Just_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>c2g__AccountReference__c</field>
            <value>
                <elementReference>Get_Triggering_SCR.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Account__c</field>
            <value>
                <elementReference
        >Get_Triggering_SCR.c2g__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntryValue__c</field>
            <value>
                <elementReference>Refund_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CashEntry__c</field>
            <value>
                <elementReference
        >Cash_Entry_Record_Id_Text_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <elementReference>Cash_Entry_Line_Description</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaCashEntryLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cash_Entry_Just_Created</name>
        <label>Get Cash Entry (Just Created)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Cash_Entry_Record_Id_Text_Variable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaCashEntry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_SCR</name>
        <label>Get Triggering SCR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cash_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaCreditNote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error_Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Screen_Text</name>
            <fieldText
      >&lt;p&gt;Error: Unable to create cash entry.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Cash_Entry</name>
        <label>Create Cash Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Cash_Entry_Header</targetReference>
        </connector>
        <fields>
            <name>Create_Cash_Entry_Screen</name>
            <fieldText
      >&lt;p&gt;Create a refund cash entry with the following details?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Refund_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Refund_Amount_Default_Value</elementReference>
            </defaultValue>
            <fieldText>Refund Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deposit_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Deposit Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText
      >&lt;p&gt;Error: Unable to create cash entry.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_you_screen_text</name>
            <fieldText
      >&lt;p&gt;Cash Entry {!Cash_Entry_Number} has been created sucessfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_SCR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cash_Entry_Record_Id_Text_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
