force-app/main/default/flows/Sales_Invoice_RT_BS_Update_Primary_Billing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Billing_Address</name>
        <label>Assign Account Billing Address</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Account_Shipping_Address</name>
        <label>Assign Account Shipping Address</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >$Record.Validated_Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >$Record.c2g__Account__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_there_a_Shipping_Address</name>
        <label>Is there a Shipping Address?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Shipping Address</defaultConnectorLabel>
        <rules>
            <name>Yes_Shipping_Address_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.c2g__Account__r.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.c2g__Account__r.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assign_Account_Shipping_Address</targetReference>
            </connector>
            <label>Yes, Shipping Address Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Sales Invoice - RT BS - Update Primary &amp; Billing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Invoice - RT BS - Update Frozen Taxable Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </filters>
        <object>c2g__codaInvoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Shipping_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
