force-app/main/default/flows/Shipments_SF_Mark_Selected_as_Delivered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Mark_Shipments_as_delivered_and_assign_to_collection</name>
        <label>Mark Shipments as delivered and assign to collection</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_Shipment_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_current_shipment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >var_Shipment_Record.Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Shipments_to_be_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Shipment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_Check_Were_records_selected</name>
        <label>Null Check - Were records selected?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Oops_no_records_selected_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_ids</targetReference>
            </connector>
            <label>Yes - Records Selected</label>
        </rules>
    </decisions>
    <description
  >This screen flow will mark all selected shipments (on the Event&apos;s Shipments related list) as delivered.</description>
    <environments>Default</environments>
    <interviewLabel
  >Shipments - SF - Mark Selected as Delivered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipments - SF - Mark Selected as Delivered</label>
    <loops>
        <name>Loop_through_ids</name>
        <label>Loop through ids</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_current_shipment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Shipments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_shipment</name>
        <label>Get current shipment</label>
        <locationX>138</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Mark_Shipments_as_delivered_and_assign_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipments</name>
        <label>Update Shipments</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <inputReference>var_Shipments_to_be_Updated</inputReference>
    </recordUpdates>
    <screens>
        <name>Oops_no_records_selected_screen</name>
        <label>Oops no records selected screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text_Oops_No_Records</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 0, 0);&quot;&gt;Oops! No records were selected. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 0, 0);&quot;&gt;Please go back and select records to update.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Null_Check_Were_records_selected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Shipment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
    <variables>
        <name>var_Shipments_to_be_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
</Flow>
