force-app/main/default/flows/Ticket_RT_AS_Web_Ticket_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ticket_Web_Created_all</name>
        <label>Ticket - Web - Created all</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Ticket__c.Ticket_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_System</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Ticket__c.Ticket_Created</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Ticket_Web_Created_Critical_Priority</name>
        <label>Ticket - Web - Created [Critical Priority]</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Ticket__c.Ticket_Created_Critical_Priority</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_System</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Ticket__c.Ticket_Created_Critical_Priority</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Ticket_Web_Created_Critical_Priority_Nav_II</name>
        <label>Ticket - Web - Created - Critical Priority - Nav/II</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName
    >Ticket__c.Ticket_Created_Critical_Priority_Nav_II</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_System</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Ticket__c.Ticket_Created_Critical_Priority_Nav_II</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Ticket_Web_Created_High_Priority</name>
        <label>Ticket - Web - Created - High Priority</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Ticket__c.Ticket_Web_Created_High_Priority</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_System</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Ticket__c.Ticket_Web_Created_High_Priority</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Ticket_Web_Created_High_Priority_Nav_II</name>
        <label>Ticket - Web - Created - High Priority - Nav/II</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName
    >Ticket__c.Ticket_Web_Created_High_Priority_Nav_II</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Which_System</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Ticket__c.Ticket_Web_Created_High_Priority_Nav_II</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Ticket_Web_Navigator_Techwire_Janaya_Fred</name>
        <label>Ticket - Web - Navigator/Techwire (Janaya/Fred)</label>
        <locationX>512</locationX>
        <locationY>923</locationY>
        <actionName
    >Ticket__c.Ticket_Web_Navigator_Techwire_Andrea_Janaya</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Ticket__c.Ticket_Web_Navigator_Techwire_Andrea_Janaya</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Priority</name>
        <label>Which Priority?</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Ticket_Web_Created_all</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Critical_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_System_Critical</targetReference>
            </connector>
            <label>Critical Priority</label>
        </rules>
        <rules>
            <name>High_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_System_High</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_System</name>
        <label>Which System?</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Other System</defaultConnectorLabel>
        <rules>
            <name>Navigator_Insider</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navigator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Techwire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Ticket_Web_Navigator_Techwire_Janaya_Fred</targetReference>
            </connector>
            <label>Navigator / Insider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_System_Critical</name>
        <label>Which System? (Critical)</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference
      >Ticket_Web_Created_Critical_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Navigator_Insider_Critical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navigator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Techwire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Ticket_Web_Created_Critical_Priority_Nav_II</targetReference>
            </connector>
            <label>Navigator / Insider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_System_High</name>
        <label>Which System? (High)</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Ticket_Web_Created_High_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Navigator_Insider_High</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navigator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Techwire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Ticket_Web_Created_High_Priority_Nav_II</targetReference>
            </connector>
            <label>Navigator / Insider</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Ticket - RT AS - Web Ticket - Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ticket - RT AS - Web - Ticket Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01230000001R3YkAAK</stringValue>
            </value>
        </filters>
        <object>Ticket__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
