force-app/main/default/flows/Treatment_RT_AS_Status_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Back_To_Available</name>
        <label>Send Email - Back To Available</label>
        <locationX>1194</locationX>
        <locationY>1187</locationY>
        <actionName
    >Opportunity_Treatment__c.Opportunity_Treatment_Treatment_back_to_Available</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_All_Opp_Treatments_Available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference
        >Get_All_Opp_Treatments_Available.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Opportunity_Treatment__c.Opportunity_Treatment_Treatment_back_to_Available</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Creating_Treatment</name>
        <label>Send Email - Creating Treatment</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <actionName>Treatment__c.Treatments_Request_Accepted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Status_Date_Last_Updated1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatments_Request_Accepted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Expired</name>
        <label>Send Email - Expired</label>
        <locationX>2162</locationX>
        <locationY>1079</locationY>
        <actionName
    >Opportunity_Treatment__c.Opportunity_Treatment_Treatment_Expired</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Pending_Opps_Expired</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Pending_Opps_Expired.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Opportunity_Treatment__c.Opportunity_Treatment_Treatment_Expired</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Now_Available</name>
        <label>Send Email - Now Available</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <actionName>Treatment__c.Treatments_Available</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_All_Opps_Available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatments_Available</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Pending_Opp</name>
        <label>Send Email - Pending Opp</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <actionName>Treatment__c.Treatment_Pending_Opp</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Status_Date_Last_Updated2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatment_Pending_Opp</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Purchased</name>
        <label>Send Email - Purchased</label>
        <locationX>1810</locationX>
        <locationY>971</locationY>
        <actionName
    >Opportunity_Treatment__c.Opportunity_Treatment_Treatment_Client_Purchased</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Pending_Opps_Client_Purchased</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference
        >Get_Pending_Opps_Client_Purchased.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Opportunity_Treatment__c.Opportunity_Treatment_Treatment_Client_Purchased</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Content_Studio_POC</name>
        <label>Send Email to Content Studio POC</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>Treatment__c.Treatments_Request_from_Sales</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Email_to_Sales</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatments_Request_from_Sales</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_New_Owner</name>
        <label>Send Email to New Owner</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <actionName>Treatment__c.Treatments_Owner_Re_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatments_Owner_Re_assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Requester</name>
        <label>Send Email to Requester</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Treatment__c.Treatments_Request_Canceled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference
      >Remove_Treatment_from_Requested_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatments_Request_Canceled</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Sales</name>
        <label>Send Email to Sales</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>Treatment__c.Treatments_Sales_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Status_Date_Last_Updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Treatment__c.Treatments_Sales_Request_Submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Treatment_Owner</name>
        <label>Send Email to Treatment Owner</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <actionName>Treatment__c.Treatments_Needs_Review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference
      >Remove_Treatment_from_Pending_Opp1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Treatment__c.Treatments_Needs_Review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Treatment_Owner1</name>
        <label>Send Email to Treatment Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName
    >Treatment__c.Treatments_Request_from_Sales_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Was_Status_Changed_to_Requested</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Treatment__c.Treatments_Request_from_Sales_Assigned</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Status_Changes</name>
        <label>Status Changes</label>
        <locationX>1568</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Treatment_Owner_Assigned</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
        <rules>
            <name>Creating_Treatment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creating Treatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Creating_Treatment</targetReference>
            </connector>
            <label>Creating Treatment</label>
        </rules>
        <rules>
            <name>Pending_Opportunity</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Add_Treatment_to_Pending_Opportunity</targetReference>
            </connector>
            <label>Pending Opportunity</label>
        </rules>
        <rules>
            <name>Available</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Remove_Treatment_from_Pending_Opp</targetReference>
            </connector>
            <label>Available</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Requester</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Client_Purchased</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Purchased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Add_Treatment_to_Client_Purchased_Opp</targetReference>
            </connector>
            <label>Client Purchased</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Treatment_from_Opp</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Needs_Review</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Treatment_Owner</targetReference>
            </connector>
            <label>Needs Review</label>
        </rules>
        <rules>
            <name>Owner_Re_assigned</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Treatment_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_New_Owner</targetReference>
            </connector>
            <label>Owner Re-assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Status_Changed_to_Requested</name>
        <label>Was Status Changed to Requested?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Changed_to_Requested</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Send_Email_to_Content_Studio_POC</targetReference>
            </connector>
            <label>Yes, Status Changed to Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Treatment_Owner_Assigned</name>
        <label>Was Treatment Owner Assigned</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Was_Status_Changed_to_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Treatment_Owner_Assigned</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Treatment_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Treatment_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Send_Email_to_Treatment_Owner1</targetReference>
            </connector>
            <label>Yes, Treatment Owner Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ChangeLog</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;
&amp;TEXT(MONTH(DATEVALUE({!$Record.LastModifiedDate})))
&amp;&quot;-&quot;
&amp;TEXT(DAY(DATEVALUE({!$Record.LastModifiedDate})))
&amp;&quot;-&quot;
&amp;TEXT(YEAR(DATEVALUE({!$Record.LastModifiedDate})))
&amp;&quot; &quot;
&amp;LEFT($User.Alias,2)
&amp;&quot;] &quot;
&amp; &quot;Client: &quot; &amp; {!$Record.Pending_Opportunity__r.Account.Name} &amp; &quot; | Opportunity: &quot; &amp;{!$Record.Pending_Opportunity__r.Name}</expression>
    </formulas>
    <formulas>
        <name>ChangeLogHistory</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;
&amp;TEXT(MONTH(DATEVALUE({!$Record.LastModifiedDate})))
&amp;&quot;-&quot;
&amp;TEXT(DAY(DATEVALUE({!$Record.LastModifiedDate})))
&amp;&quot;-&quot;
&amp;TEXT(YEAR(DATEVALUE({!$Record.LastModifiedDate})))
&amp;&quot; &quot;
&amp;LEFT($User.Alias,2)
&amp;&quot;] &quot;
&amp; &quot;Client: &quot; &amp; {!$Record.Pending_Opportunity__r.Account.Name} &amp; &quot; | Opportunity: &quot; &amp;{!$Record.Pending_Opportunity__r.Name}
&amp; BR() &amp;
{!$Record.Opportunity_Change_Log__c}</expression>
    </formulas>
    <formulas>
        <name>ExpirationDateisToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>f_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>f_Test_Note</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) &amp; &quot; - &quot; &amp;
IF({!Send_Email_Back_To_Available}=True, &quot;Sent Back to Available&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_Creating_Treatment}=True, &quot;Sent Creating Treatment&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_Expired}=True, &quot;Sent Expired&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_Now_Available}=True, &quot;Sent Now Available&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_Pending_Opp}=True, &quot;Sent Pending Opp&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_Purchased}=True, &quot;Sent Purchased&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_to_Content_Studio_POC}=True, &quot;Sent to Content Studio POC&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_to_New_Owner}=True, &quot;Sent to New Owner&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_to_Requester}=True, &quot;Sent to Requester&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_to_Sales}=True, &quot;Sent to Sales&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_to_Treatment_Owner}=True, &quot;Sent to Treatment Owner&quot; &amp; &quot;; &quot;, &quot;&quot;) &amp; 
IF({!Send_Email_to_Treatment_Owner1}=True, &quot;Sent to Treatment Owner 1&quot; &amp; &quot;; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RemoveDate</name>
        <dataType>Date</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel
  >Treatment - RT AS - Status Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Treatment - RT AS - Status Changes</label>
    <loops>
        <name>Get_All_Opp_Treatments_Available</name>
        <label>Get All Opp Treatments_Available</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_All_Opps_Available</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_Back_To_Available</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Get_Pending_Opps_Client_Purchased</name>
        <label>Get Pending Opps_Client Purchased</label>
        <locationX>1722</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Active_Pending_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_Purchased</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Change_Status_to_Void_on_Client_Purchased</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Pending_Opps_Expired</name>
        <label>Get Pending Opps_Expired</label>
        <locationX>2074</locationX>
        <locationY>971</locationY>
        <collectionReference
    >Get_Active_Pending_Opps_Expired</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_Expired</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Status_to_Void_on_Expired</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Pending_Opps_NeedsReview</name>
        <label>Get Pending Opps_NeedsReview</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <collectionReference
    >Get_Active_Pending_Opps_NeedsReview</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Change_Status_to_Void_on_Needs_Review</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Pending_Opps</name>
        <label>Get Active Pending Opps</label>
        <locationX>1722</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Opps_Client_Purchased</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Treatment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Opp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verbal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Treatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Pending_Opps_Expired</name>
        <label>Get Active Pending Opps_Expired</label>
        <locationX>2074</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Opps_Expired</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Treatment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Opp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verbal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Treatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Pending_Opps_NeedsReview</name>
        <label>Get Active Pending Opps_NeedsReview</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Opps_NeedsReview</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Treatment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Opp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verbal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Treatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opps_Available</name>
        <label>Get All Opps_Available</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opp_Treatments_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Treatment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Treatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Opportunity_Owner</name>
        <label>Add Opportunity Owner</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Send_Email_Pending_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Pending_Opp_Owner__c</field>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Treatment_to_Client_Purchased_Opp</name>
        <label>Add Treatment to Client Purchased Opp</label>
        <locationX>1722</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Remove_Expiration_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Treatment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Treatment_to_Pending_Opportunity</name>
        <label>Add Treatment to Pending Opportunity</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_Opportunity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Treatment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_to_Void_on_Client_Purchased</name>
        <label>Change Status to Void on Client Purchased</label>
        <locationX>1722</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_Treatments__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_to_Void_on_Expired</name>
        <label>Change Status to Void on Expired</label>
        <locationX>2074</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_Treatments__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_to_Void_on_Needs_Review</name>
        <label>Change Status to Void on Needs Review</label>
        <locationX>2514</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Get_Pending_Opps_NeedsReview</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_Treatments__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Status_Date_Last_Updated</name>
        <label>Clear - Status Date Last Updated</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Active_Pending_Opps_Expired</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Status_Date_Last_Updated1</name>
        <label>Clear - Status Date Last Updated</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Expiration_Dates</name>
        <label>Remove Expiration Dates</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Status_Date_Last_Updated5</targetReference>
        </connector>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opp_Expiration__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Opp_Fields</name>
        <label>Remove Opp Fields</label>
        <locationX>2074</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Clear_Status_Date_Last_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Pending_Opp_Expiration__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opp_Owner__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opportunity__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Opp_Fields_Canceled</name>
        <label>Remove Opp Fields - Canceled</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Clear_Status_Date_Last_Updated1</targetReference>
        </connector>
        <inputAssignments>
            <field>Pending_Opp_Expiration__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opp_Owner__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opportunity__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Pending_Opp_Fields</name>
        <label>Remove Pending Opp Fields</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Status_Date_Last_Updated3</targetReference>
        </connector>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opp_Expiration__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opp_Owner__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opportunity__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Pending_Opp_Fields1</name>
        <label>Remove Pending Opp Fields</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Status_Date_Last_Updated7</targetReference>
        </connector>
        <inputAssignments>
            <field>Pending_Opp_Expiration__c</field>
            <value>
                <elementReference>RemoveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opp_Owner__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Opportunity__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Treatment_from_Opp</name>
        <label>Remove Treatment from Opp</label>
        <locationX>2074</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Change_Log2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Treatment__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Treatment_from_Pending_Opp</name>
        <label>Remove Treatment from Pending Opp</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Change_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Treatment__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Treatment_from_Pending_Opp1</name>
        <label>Remove Treatment from Pending Opp1</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Change_Log3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Treatment__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Treatment_from_Requested_Opp</name>
        <label>Remove Treatment from Requested Opp</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Change_Log1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Pending_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Treatment__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Log</name>
        <label>Update Change Log</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Remove_Pending_Opp_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pending_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Change_Log__c</field>
            <value>
                <elementReference>ChangeLogHistory</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Log1</name>
        <label>Update Change Log</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Remove_Opp_Fields_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pending_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Change_Log__c</field>
            <value>
                <elementReference>ChangeLogHistory</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Log2</name>
        <label>Update Change Log</label>
        <locationX>2074</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Remove_Opp_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pending_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Change_Log__c</field>
            <value>
                <elementReference>ChangeLogHistory</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Log3</name>
        <label>Update Change Log</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Remove_Pending_Opp_Fields1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pending_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Change_Log__c</field>
            <value>
                <elementReference>ChangeLogHistory</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Last_Updated</name>
        <label>Update - Status Date Last Updated</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Last_Updated1</name>
        <label>Update - Status Date Last Updated</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Last_Updated2</name>
        <label>Update - Status Date Last Updated</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Last_Updated3</name>
        <label>Update - Status Date Last Updated</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Send_Email_Now_Available</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Last_Updated5</name>
        <label>Update - Status Date Last Updated</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Active_Pending_Opps</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Last_Updated7</name>
        <label>Update - Status Date Last Updated</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference
      >Get_Active_Pending_Opps_NeedsReview</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date_Last_Updated__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changes</targetReference>
        </connector>
        <object>Treatment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
